$border-style: 1px solid #dedede;

.o-box {
  border-right: $border-style;
  border-bottom: $border-style;
  @include clearfix;

  .o-box__cell {
    padding: 8px 13px;
    border-left: $border-style;
    border-top: $border-style;
    border-collapse: collapse;

    @include clearfix;
  }
}
