$border-style: 1px solid #dedede;

.o-box {
  border-right: $border-style;
  border-bottom: $border-style;
  @include clearfix;

  .o-box__cell {
    padding: ($g-distance / 2) ($g-distance * .75);
    border-left: $border-style;
    border-top: $border-style;
    border-collapse: collapse;

    @include clearfix;
  }

  &.o-box--no-border {
    border: none;

    .o-box__cell {
      border: none;
    }
  }
}
