$border-style: 1px solid #dedede;

.t-box {
  border-right: $border-style;
  border-bottom: $border-style;

  .t-box__canvas {
    width: 100%;
    min-height: 240px;
    margin: 10px auto;
  }

  .t-box__cell {
    padding: 8px 13px;
    border-left: $border-style;
    border-top: $border-style;
    border-collapse: collapse;
    @include clearfix;
  }
}
