$o-form-content-margin: 1em 0 0;

.o-form {
  padding: 0 1em;

  .o-form__switch-bar {
    border-bottom: 1px solid #d2d2d2;
    padding: 1em 0;
    margin-bottom: 1.5em;
  }
  .o-form__body {
    @include clearfix();
  }
  .o-form__title {
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 1.5em;
  }
  .o-form__fieldset {
    margin: $o-form-content-margin;
    border: 0;
    padding: .5em 0 0;
  }
  .o-form__legend {
    margin-left: .5em;
    padding: .5em .5em;
    font-size: 1.214em;
    font-weight: bold;
  }
  .o-form__p {
    padding: 0 1.214em;
    margin-bottom: 1em;
  }
  .o-form__actions-bar {
    padding: 1em .625em;
    margin: $o-form-content-margin;
    border-top: 1px solid #d2d2d2;
  }

  &.o-form--block {
    .form-group {
      vertical-align: top;
      margin-right: 12px;

      label {
        display: block;
        float: none;
        text-align: left;
        line-height: 20px;
      }
      .form-control {
        margin-left: 0;
        line-height: 20px;

        textarea,
        .text {
          width: 100%;
        }
        .Select {
          width: 100%;
          max-width: 100%;
        }
      }
    }

    .row {
      margin: 0 -12px;
      .cols {
        padding: 0 12px;
      }
    }
    .o-description-list {
      margin-top: -12px;
      margin-bottom: 20px;
      padding: 0 4px;
    }
  }

  &.o-form--flow {
    @include clearfix;
    padding: 0;

    .o-form__body,
    .o-form__footer {
      float: left;
    }

    .form-group {
      display: inline-block;
      vertical-align: middle;
      margin: 0 12px 8px;

      > label {
        min-width: auto;
        margin-right: 12px;
        text-align: left;
      }
      .form-control {
        float: left;
        margin-left: 0;
      }

      &:first-child {
        margin-left: 0px;

        > label {
          padding-left: 12px;
        }
      }
    }

    .form-group--save,
    .o-form__actions-bar {
      margin-top: 0;
      margin-left: 0;
      padding: 0;
      padding-left: 1em;
      border: 0;
      border-left: 1px solid #d2d2d2;
    }
  }

  &.o-form--compassed {
    padding: 0;

    .cols {
      padding: 0 6px;
    }
    .row {
      margin: 0 -6px;
    }
    .o-form__fieldset {
      margin-top: 0;
    }
    .o-form__legend {
      margin-left: 0;
      padding-left: 0;
      margin-bottom: 0.25rem;
    }

    .form-group {
      margin-bottom: 8px;
      > label {
        display: block;
        text-align: left;
        line-height: 20px;
        float: none;
        margin-right: 0;
      }
      .form-control {
        margin-left: 0;
        .m-switch {
          margin: 0;
          display: block;
          .m-switch__item {
            padding: 5px 10px;
          }
        }
        .a-password {
          display: block;
        }
        .text {
          width: 100%;
          padding-top: .31429rem;
          padding-bottom: .31429rem;
          padding-left: .42857rem;
          padding-right: .42857rem;
        }
        .a-input-range {
          width: 100%;
        }
        .a-input-number {
          width: 100%;
        }
        .a-checkbox {
          margin-top: 2px;
        }
        .Select {
          width: 100%;
          max-width: 100%;
        }
        .Select-placeholder,
        .Select--single > .Select-control .Select-value,
        .Select-input, .Select-control {
          height: 24px;
          line-height: 24px;
          width: 100%;
        }
        .error {
          margin-top: 2px;
        }
        .help {
          line-height: 24px;
        }
      }
    }
    .form-group--save {
      margin-top: 12px;

      .a-btn {
        padding: ($g-distance * .25) ($g-distance * .5);
        line-height: 1;
      }
    }
  }
}
