$o-form-content-margin: 1em 0 0;

.o-form {
  padding: 0 1em;

  .o-form__switch-bar {
    border-bottom: 1px solid #d2d2d2;
    padding: 1em 0;
    margin-bottom: 1.5em;
  }
  .o-form__title {
    margin-bottom: 1em;
  }
  .o-form__fieldset {
    margin: $o-form-content-margin;
    border: none;
    padding: .5em 0 0;
  }
  .o-form__legend {
    margin-left: .5em;
    padding: .5em .5em;
    font-size: 1.214em;
  }
  .o-form__actions-bar {
    padding: 1em .625em;
    margin: $o-form-content-margin;
    border-top: 1px solid #d2d2d2;
  }

  &.o-form--block {
    .form-group {
      label {
        display: block;
        float: none;
        text-align: left;
      }
      .form-control {
        margin-left: 0;

        textarea,
        .text {
          width: 100%;
        }
        .Select {
          width: 100%;
          max-width: 100%;
        }
      }
    }

    .row {
      margin: 0 -12px;
      .cols {
        padding: 0 12px;
      }
    }
    .m-description-list {
      margin-top: -12px;
      margin-bottom: 20px;
      padding: 0 4px;
    }
  }

  &.o-form--compassed {
    padding: 0;

    .form-group {
      label {
        display: block;
        text-align: left;
        line-height: 24px;
      }
      .form-control {
        margin-left: 0;

        .text {
          width: 100%;
          padding-top: .21429rem;
          padding-bottom: .21429rem;
          padding-left: .42857rem;
          padding-right: .42857rem;
        }
        .Select {
          width: 100%;
          max-width: 100%;
        }
        .Select-placeholder,
        .Select--single > .Select-control .Select-value,
        .Select-input, .Select-control {
          height: 24px;
          line-height: 24px;
          width: 100%;
        }
      }
    }
  }

  &.o-form--cols-2 {
    @include clearfix;
    margin: 0 -10px;

    .form-group {
      float: left;
      width: 50%;
      padding: 10px;

      label {
        display: block;
        float: none;
        text-align: left;
      }
      .form-control {
        margin-left: 0;
      }

      &.form-group--save {
        width: 100%;
      }
    }
  }
}
