.o-list {
  padding: 0 15px;

  .o-list__header {
    padding: 8px;
    background-color: #222;
    color: #fff;
  }
  .m-menu {
    background-color: #333;
  }
  .o-list__footer {
    padding: 8px 0;
  }
}
