@import "../variables";
@import "../mixins";
$model-z-index: 1650;

.o-modal--open {
  overflow: hidden;
}
.o-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $model-z-index;
  padding: 10px 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  outline: 0;

  &.o-modal--draggable {
    .o-modal__header {
      cursor: move;
    }
  }
}
.o-modal__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: ($model-z-index - 1);
  background-color: #000;
  transition: opacity .49s ease-in-out;
  @include opacity(.4);

  &.fade {
    @include opacity(0);
  }
  &.in {
    @include opacity(.5);
  }
}

.o-modal__confirm,
.o-modal__alert,
.o-modal__loading,
.o-modal__dialog {
  position: relative;
  z-index: $model-z-index;
  width: auto;
  margin: 0 auto;
}

.o-modal__confirm,
.o-modal__loading,
.o-modal__alert {
  width: 380px;
}
.o-modal__dialog {
  width: 600px;
}

.o-modal--lg {
  .o-modal__dialog {
    width: 900px;
  }
}

.o-modal__message {
  position: fixed;
  top: 40%;
  left: 50%;
  z-index: $model-z-index;
  width: 150px;
  margin-left: -75px;

  .o-modal__content {
    padding: 10px 0;
    text-align: center;
  }
}

.o-modal__content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 6px;
  outline: 0;
  box-shadow: 1px 3px 9px rgba(0, 0, 0, .8);
}

.o-modal__header {
  padding: 15px;
  border-bottom: 1px solid #999;

  .close {
    width: 22px;
    height: 22px;
    margin-top: -2px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background: #333;
    border: 0;
    border-radius: 20px;

    &:hover {
      color: $g-brand-danger;
    }
  }
}

// loading not Close button
.o-modal__loading {
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: 10px;
  margin-left: -190px;
  .o-modal__header {
    .close {
      display: none;
    }
  }
  .o-modal__body {
    min-height: 110px;
    text-align: center;
  }
  .o-modal__body-icon {
    margin-bottom: 20px;
  }
}

.o-modal__title {
  margin: 0;
  line-height: 1.42857143;
}
.o-modal__body {
  position: relative;
  padding: 15px;
}
.o-modal__footer {
  padding: 10px 15px;
  text-align: right;
  border-top: 1px solid #999;

  .a-btn + .a-btn {
    margin-bottom: 0;
    margin-left: 8px;
  }

  .btn-group .a-btn + .a-btn {
    margin-left: -1px;
  }

  .a-btn-block + .a-btn-block {
    margin-left: 0;
  }
}

.o-modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: $mw-md) {
  .o-modal__dialog {
    max-width: 900px;
  }
  .o-modal__content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
}
@media (min-width: $mw-lg) {
}
