@import "../variables";
@import "../mixins";

.o-modal--open {
  overflow: hidden;
}
.o-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1650;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  padding-top: 10px;
  overflow: auto;

  &.o-modal--draggable {
    .o-modal__header {
      cursor: move;
    }
  }
}
.o-modal__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  @include opacity(0.5);

  &.fade {
    @include opacity(0);
  }
  &.in {
    @include opacity(5);
  }
}

.o-modal__confirm,
.o-modal__alert,
.o-modal__loading,
.o-modal__dialog {
  position: relative;
  z-index: 1050;
  margin: 0 auto;
  width: auto;
}

.o-modal__confirm,
.o-modal__loading,
.o-modal__alert {
  width: 380px;
}
.o-modal__dialog {
  width: 600px;
}

.o-modal--lg {
  .o-modal__dialog {
    width: 900px;
  }
}

.o-modal__message {
  position: fixed;
  top: 40%;
  left: 50%;
  z-index: 1050;
  margin-left: -75px;
  width: 150px;

  .o-modal__content {
    padding: 10px 0;
    text-align: center;
  }
}

.o-modal__content {
  position: relative;
  outline: 0;
  border: 1px solid #999;
  border-radius: 6px;
  background-color: #fff;
  background-clip: padding-box;
  box-shadow: 1px 3px 9px rgba(0, 0, 0, .8);
}

.o-modal__header {
  padding: 15px;
  border-bottom: 1px solid #999;

  .close {
    margin-top: -2px;
    border: 0;
    border-radius: 20px;
    background: #333;
    color: #fff;
    cursor: pointer;
    width: 22px;
    height: 22px;
    text-align: center;

    &:hover {
      color: $g-brand-danger;
    }
  }
}

// loading not Close button
.o-modal__loading {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -190px;
  margin-top: 10px;
  .o-modal__header {
    .close {
      display: none;
    }
  }
  .o-modal__body {
    text-align: center;
    height: 110px;
  }
  .o-modal__body-icon {
    margin-bottom: 20px;
  }
}

.o-modal__title {
  margin: 0;
  line-height: 1.42857143;
}
.o-modal__body {
  position: relative;
  padding: 15px;
}
.o-modal__footer {
  padding: 10px 15px;
  border-top: 1px solid #999;
  text-align: right;

  .a-btn + .a-btn {
    margin-bottom: 0;
    margin-left: 8px;
  }

  .btn-group .a-btn + .a-btn {
    margin-left: -1px;
  }

  .a-btn-block + .a-btn-block {
    margin-left: 0;
  }
}

.o-modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  overflow: scroll;
  width: 50px;
  height: 50px;
}
@media (min-width: $mw-md) {
  .o-modal__dialog {
    max-width: 900px;
  }
  .o-modal__content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
}
@media (min-width: $mw-lg) {

}
