.o-menu-bar {
  height: $g-main-bar-height;
  background-color: #666;
  color: #ababab;
  position: fixed;
  top: 60px;
  width: 100%;
  z-index: 2;
  @include clearfix;

  .o-menu-bar__nav {
    float: left;
    width: 190px;
    position: relative;
    padding-left: 20px;
    background-color: #252526;
    z-index: 10;
    user-select: none;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      margin-right: -16px;
      height: 0;
      border-width: ($g-main-bar-height / 2) 16px;
      border-color: transparent;
      border-left-color:#252526;
      border-style: solid;
      border-right: none;
      display: none;
    }

    h3 {
      line-height:  $g-main-bar-height;
      font-size: 12px;
      font-weight: 300;
    }

    .icon {
      font-size: 18px;
      line-height: 24px;
      width: 30px;
      margin-top: 6px;
      text-align: center;
      background-color: #222;
      margin-right: 6px;
      float: left;
      cursor: pointer;
    }
  }

  .m-breadcrumb {
    float: left;
    line-height: $g-main-bar-height;
  }
}
