.o-menu-bar {
  height: $g-main-bar-height;
  width: 100%;
  background-color: #999;
  color: #fff;
  @include clearfix;

  .o-menu-bar__nav {
    float: left;
    width: 190px;
    position: relative;
    padding-left: 20px;
    background-color: #666;
    z-index: 10;
    user-select: none;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      margin-right: -16px;
      height: 0;
      border-width: 20px 16px;
      border-color: transparent transparent transparent #666;
      border-style: solid;
      border-right: none;
    }

    h3 {
      line-height: 40px;
      font-size: 14px;
    }

    .icon {
      font-size: 18px;
      line-height: 24px;
      width: 30px;
      margin-top: 8px;
      text-align: center;
      background-color: #222;
      margin-right: 12px;
      float: left;
      cursor: pointer;
    }
  }

  .m-breadcrumb {
    float: left;
    line-height: $g-main-bar-height;
  }
}
