$nav-text-color: #ababab;
$main-blue: #0093dd;

.o-nav {
  padding: 0;
  background: #333;
  border-right: none;
  overflow-y: auto;

  @include scrollbar();

  .o-nav__link {
    position: relative;
    display: block;
    padding: $g-distance 0;
    padding-left: $g-distance;
    font-size: 13px;
    line-height: 20px;
    color: $nav-text-color;
    letter-spacing: 1px;
    transition: color .2s ease-in-out;
    user-select: none;

    > .icon {
      line-height: 20px;
    }

    .o-nav__icon-tabs,
    .o-nav__icon-toggle {
      position: absolute;
      top: 50%;
      left: 4px;
      display: inline-block;
      margin-top: -5px;
      font-size: 10px;
      width: 10px;
      height: 10px;
      line-height: 10px;
      text-align: center;
      vertical-align: middle;
      transition: .3s transform ease-in-out;
    }

    &.active {
      color: #fff;
      background-color: $g-brand-primary;

      .icon {
        color: #fff;
      }
      .o-nav__icon-tabs {
        transform: rotate(90deg);
      }
    }
    &.is-open {
      .o-nav__icon-toggle {
        transform: rotate(90deg);
      }
    }
  }

  .o-nav__sub-menus {
    .o-nav__link {
      padding: $g-distance-md 0;
      padding-left: $g-distance * 1.75;
      background-color: #555;

      .o-nav__icon-tabs,
      .o-nav__icon-toggle {
        left: 23px;
      }

      &.active {
        background-color: #666;
      }
      &.has-tabs {
        &::after {
          left: $g-distance * 1.70;
        }
      }
    }
  }
}
