$nav-text-color: #ababab;
$main-blue: #0093dd;

.o-nav {
  padding: 0;
  background: #333;
  border-right: none;
  overflow-y: auto;

  @include scrollbar();

  .o-nav__link {
    display: block;
    padding: $g-distance 0;
    padding-left: $g-distance;
    font-size: 13px;
    line-height: 20px;
    color: $nav-text-color;
    letter-spacing: 1px;
    transition: background-color .2s ease-in-out, color .2s ease;

    &:hover {
      color: #fff;
    }

    &.has-tabs {
      position: relative;
      &::after {
        position: absolute;
        top: 50%;
        left: 10px;
        display: inline-block;
        margin-top: -5px;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        font-size: 10px;
        content: "\f142";
        text-rendering: auto;
        transition: transform .4s ease-in-out;
      }
    }
    &.active {
      color: #fff;
      background-color: $g-brand-primary;

      .icon {
        color: #fff;
      }

      &.has-tabs {
        &::after {
          transform: rotate(90deg);
        }
      }
    }
  }

  .o-nav__sub-menus {
    .o-nav__link {
      padding: $g-distance-md 0;
      padding-left: $g-distance * 1.75;
      background-color: #555;

      &.active {
        background-color: #666;
      }
    }
  }
}
