$panel-width: 380px;

.o-property-panel {
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
  z-index: 1100;

  .o-property-panel__toggle-button {
    position: absolute;
    top: 5px;
    right: 0;
    width: 24px;
    height: 24px;
    max-height: 200px;
    margin-right: 4px;
    overflow: hidden;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background-color: neutral-color('dark');
    border-radius: 16px 0 16px 16px;
    box-shadow: -2px 2px 0 0 rgba(0,0,0,.2);
    transition: top .4s ease-in-out, opacity .4s ease-in-out;
    opacity: 1;

    .icon {
      font-size: 18px;
      line-height: 24px;
      color: #ababab;

      &:hover {
        color: #fff;
      }
    }
  }

  .o-property-panel__header {
    padding: .651em 1em;
    line-height: 20px;
    color: #fff;
    user-select: none;
    background-color: neutral-color('dark');

    .icon {
      margin-left: 12px;
      font-size: 18px;
      color: #ababab;
      cursor: pointer;

      &:hover {
        color: #fff;
      }
    }
  }

  .o-property-panel__inner {
    width: $panel-width;
    height: 100%;
    overflow: hidden;
    margin-right: -$panel-width;
    background-color: #fff;
    transition: margin-right .3s ease-in-out;
    animation: asideRight .3s 1;
  }

  &.active {
    .o-property-panel__inner {
      margin-right: 0;
      border-left: 1px solid #333;
    }
    .o-property-panel__toggle-button {
      top: -70px;
      opacity: 0;
    }
  }

  .o-property-panel__container {
    padding: 0;
    background-color: #fff;
    height: 100%;
    padding-bottom: 128px;
    overflow-y: auto;

    @include scrollbar();
  }
}

@keyframes asideRight {
  0%,
  50% {
    margin-right: -$panel-width;
  }
  100% {
    opacity: 1;
    margin-right: 0;
  }
}
