.table {
  min-width: 100%;
  border-spacing: 1;
  border-collapse: collapse;

  th,
  td {
    padding: 4px 6px;
    text-align: left;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;

    .a-checkbox--square {
      input[type=checkbox] + label {
        background-color: #fff;
      }
    }
  }
  th {
    font-weight: 400;
    color: #fff;
    background: #1d2531;
  }

  tr:hover {
    background-color: #fff;
  }

  .empty {
    padding: 16px 6px;
    color: $g-gray-light;
  }

  &.table--pionter {
    tr {
      cursor: pointer;
    }
  }

  &.table--light {
    background-color: #fff;
    th {
      border-top: none;
      font-weight: bold;
      background-color: #fff;
      color: #333;
    }

    tr:hover {
      background-color: #f3f3f3;
    }
  }
}
.table-wrap {
  position: relative;
  clear: both;

  .table-loading {
    position: absolute;
    top: 26px;
    bottom: 0;
    width: 100%;
    text-align: center;

    .backdrop {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1;
      width: 100%;
      background: #000;

      @include opacity(0);
    }
    .table-loading-content {
      position: relative;
      z-index: 2;
      width: 60px;
      padding: 10px;
      margin: 6px auto;
      background-color: #f4f4f4;
      border-radius: 6px;

      .fa {
        font-size: 20px;
        color: $g-brand-primary;
      }
    }
  }
}
.action-btns {
  .a-btn {
    margin-right: 5px;
  }
}
