@import "../../scss/variables";
@import "../../scss/mixins";
$tab-nav-height: 28px;

.o-tab {
  position: relative;
  width: 100%;
  height: 100%;

  .o-tab__nav {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 2;
    padding-left: $g-distance;
    border-bottom: 4px solid $g-main-color-light;

    @include clearfix;

    li {
      float: left;
      margin: 0 $g-distance-sm;

      a {
        position: relative;
        display: block;
        min-width: 80px;
        height: $tab-nav-height;
        padding: 0 $g-distance;
        padding-top: 1px;
        font-size: 13px;
        line-height: $tab-nav-height;
        color: $g-main-color-light;
        text-align: center;
        cursor: pointer;
        background-color: #fff;
        //transition: background .3s ease-in, color .1s ease-in;

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          height: 0;
          margin-left: -12px;
          content: '';
          filter: drop-shadow(-3px -2px 2px #ccc);
          border-color: transparent #fff #fff transparent;
          border-style: solid;
          border-width: ($tab-nav-height / 2) 6px;
          //transition: border-color .3s ease-in;
        }

        &::after {
          position: absolute;
          top: 0;
          right: 0;
          height: 0;
          margin-right: -12px;
          content: '';
          filter: drop-shadow(3px -2px 2px #ccc);
          border-color: transparent transparent #fff #fff;
          border-style: solid;
          border-width: ($tab-nav-height / 2) 6px;
          //transition: border .3s ease-in;
        }

        &:hover {
          z-index: 1;
          color: $g-main-color-light;
          background: #e5e5e5;

          &::before {
            border-color: transparent #e5e5e5 #e5e5e5 transparent;
          }

          &::after {
            border-color: transparent transparent #e5e5e5 #e5e5e5;
          }
        }

        &.active {
          z-index: 2;
          color: #fff;
          background: $g-main-color-light;

          &::before {
            filter: none;
            border-color: transparent $g-main-color-light $g-main-color-light transparent;
          }

          &::after {
            filter: none;
            border-color: transparent transparent $g-main-color-light $g-main-color-light;
          }
        }
      }
    }
  }
  .o-tab__content {
    position: absolute;
    top: 34px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px 15px;
    overflow-y: auto;

    @include scrollbar();

    h2 {
      margin-top: 1em;
    }
  }

  &.o-tab--compassed {
    .o-tab__nav {
      position: static;
      padding-left: 0;
      border-bottom: 1px solid $g-main-color-lighter;

      li {
        margin: 0 ($g-distance-sm * 2.2) 0 0;

        a {
          position: relative;
          display: block;
          min-width: auto;
          height: auto;
          padding: .28571em 0;
          font-size: 13px;
          line-height: 1em;
          color: $g-main-color-light;
          text-align: center;
          background-color: transparent;

          &::before,
          &::after {
            display: none;
          }

          &.active {
            color: $g-brand-primary;
            border-bottom: 3px solid $g-brand-primary;
          }
        }
      }
    }
  }
}
