$main-blue: #0093dd;
$nav-icon-size: 80px;
$nav-line-size: 4px;

.o-wizard {
  margin: 10px auto;
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(222, 222, 222, 1);
  // border: 1px solid #ccc;
  // border-radius: 4px;
  // box-shadow: 0 2px 8px 0 rgba(0,0,0,.3);
  // overflow: hidden;

  .o-wizard__title {
    padding: .5em 0;
    font-size: 2.4em;
    font-weight: 300;
    color: neutral-color('darker');
    text-align: center;
  }

  .o-wizard__nav {
    position: relative;
    padding-top: $nav-icon-size / 2;
    overflow: hidden;
    border-bottom: 1px solid #ccc;

    ul {
      padding-bottom: 20px;
      @include clearfix;
    }
    li {
      position: relative;
      float: left;
      width: 33%;
      padding-top: $nav-icon-size / 2;
      font-size: 1.4em;
      color: #ccc;
      text-align: center;
      border-top: 4px solid #ccc;
      transition: border-top .3s ease-in-out,
      color .3s ease-in-out;

      .icon {
        position: absolute;
        top: 0;
        left: 50%;
        display: inline-block;
        padding: 0 ($nav-icon-size / 4);
        margin-top: -($nav-icon-size * 0.5 + $nav-line-size / 2);
        margin-left: -$nav-icon-size * 0.75;
        font: normal normal normal 14px/1 FontAwesome;
        background: #fff;

        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        &::before {
          display: inline-block;
          width: $nav-icon-size;
          height: $nav-icon-size;
          line-height: $nav-icon-size - ($nav-line-size * 2);
          font-size: $nav-icon-size * 0.625;
          content: "\F111";
          border: $nav-line-size solid transparent;
          border-radius: $nav-icon-size;
          transition: border .3s ease-in-out;
        }
      }

      &:first-child {
        .icon {
          left: 0;
          padding-left: 50%;
          margin-left: -$nav-icon-size / 2;
        }
      }

      &:last-child {
        .icon {
          right: 0;
          padding-right: 50%;
        }
      }

      &.completed {
        color: neutral-color('darker');
        border-top-color: neutral-color('darker');

        @include opacity(1);

        .icon {
          &::before {
            content: "\F00C";
            border: $nav-line-size solid neutral-color('darker');
          }
        }
      }
      &.active {
        color: $g-brand-success;
        border-top-color: $g-brand-success;

        @include opacity(1);

        .icon {
          &::before {
            content: "\F0C9";
            border: $nav-line-size solid $g-brand-success;
          }
        }
      }
    }
  }
  .o-wizard__content {
    padding: ($nav-icon-size * 0.375) 0;
    margin: 0 ($nav-icon-size / 4);


  }
  .o-wizard__footer {
    padding: ($nav-icon-size / 4);
    text-align: right;
    user-select: none;
    border-top: 1px solid #ccc;

    .a-btn--info {
      margin-left: $nav-icon-size / 4;
      color: #fff;
      background-color: $main-blue;
      background-image: none;
    }
  }

  //
  $nav-icon-size: 60px;
  $nav-line-size: 3px;

  &.o-wizard--sm {
    border: 0;
    margin: 0 auto;

    .o-wizard__title {
      font-size: 2em;
    }

    .o-wizard__nav {
      padding-top: $nav-icon-size / 2;

      ul {
        padding-bottom: $nav-icon-size / 4;

        li {
          padding-top: $nav-icon-size / 2;

          .icon {
            padding: 0 ($nav-icon-size / 4);
            margin-top: -($nav-icon-size * 0.5 + $nav-line-size / 2);
            margin-left: -$nav-icon-size * 0.75;

             &::before {
              width: $nav-icon-size;
              height: $nav-icon-size;
              line-height: $nav-icon-size - ($nav-line-size * 2);
              font-size: $nav-icon-size * 0.575;
              border: $nav-line-size solid transparent;
              border-radius: $nav-icon-size;
            }
          }

          &:first-child {
            .icon {
              left: 0;
              padding-left: 50%;
              margin-left: -$nav-icon-size / 2;
            }
          }
          &:last-child {
            .icon {
              right: 0;
              padding-right: 50%;
            }
          }

          &.completed {
            .icon {
              &::before {
                border: $nav-line-size solid neutral-color('darker');
              }
            }
          }
          &.active {
            .icon {
              &::before {
                border: $nav-line-size solid $g-brand-success;
              }
            }
          }
        }
      }
    }
    .o-wizard__content {
      padding: ($nav-icon-size * 0.375) 0;
      margin: 0 ($nav-icon-size / 4);
    }
    .o-wizard__footer {
      padding: ($nav-icon-size / 4) ($nav-icon-size / 4);

      .a-btn--info {
        margin-left: $nav-icon-size / 8;
      }
    }
  }

  //
  $nav-icon-size: 40px;
  $nav-line-size: 3px;

  &.o-wizard--min {
    border: 0;
    box-shadow: none;
    margin: 0 auto;

    .o-wizard__title {
      font-size: 2em;
    }

    .o-wizard__nav {
      padding-top: $nav-icon-size / 2;

      ul {
        padding-bottom: $nav-icon-size / 4;

        li {
          padding-top: $nav-icon-size / 2;

          .icon {
            padding: 0 ($nav-icon-size / 4);
            margin-top: -($nav-icon-size * 0.5 + $nav-line-size / 2);
            margin-left: -$nav-icon-size * 0.75;

             &::before {
              width: $nav-icon-size;
              height: $nav-icon-size;
              line-height: $nav-icon-size - ($nav-line-size * 2);
              font-size: $nav-icon-size * 0.575;
              border: $nav-line-size solid transparent;
              border-radius: $nav-icon-size;
            }
          }

          &:first-child {
            .icon {
              left: 0;
              padding-left: 50%;
              margin-left: -$nav-icon-size / 2;
            }
          }
          &:last-child {
            .icon {
              right: 0;
              padding-right: 50%;
            }
          }

          &.completed {
            .icon {
              &::before {
                border: $nav-line-size solid $g-brand-success;
              }
            }
          }
          &.active {
            .icon {
              &::before {
                border: $nav-line-size solid neutral-color('darker');
              }
            }
          }
        }
      }
    }
    .o-wizard__content {
      padding: ($nav-icon-size * 0.375) 0;
      margin: 0 ($nav-icon-size / 4);
    }
    .o-wizard__footer {
      padding: ($nav-icon-size / 4) ($nav-icon-size / 4);

      .a-btn--info {
        margin-left: $nav-icon-size / 8;
      }
    }
  }
}
