{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  },
  "globals": {
    "sinon": true,
    "AssertionError": true,
    "expect": true,
    "Assertion": true,
    "assert": true
  }
}
