$boder-color:         #e5e5e5;

body textarea,
body input[type=text],
body input[type=password],
body input[type=file],
body input[type=number] {
  box-sizing: border-box;
  padding: 6px 8px 5px 8px;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2) inset;
  font-size: 11px;
  
  &:disabled {
    background-color: $boder-color;
  }
}

.form-group {
  margin-bottom: 12px;
  
  &.form-group-save {
    padding-top: 12px;
    border-top: 1px solid $boder-color;
  }

  > label {
    display: inline-block;
    float: left;
    margin-right: 15px;
    min-width: 150px;
    color: #666;
    text-align: right;
    line-height: 29px;
    
    .btn {
      line-height: 14px;
    }
  }
  
  .text {
    width: 200px;
    line-height: 20px;
    
    &:focus {
      border: 1px solid $g-brand-info;
    }
  }
 
  
  .input-sm {
    width: 80px;
  }
  
  .form-control {
    margin-left: 165px;
    color: #666;
  }
  
  .help {
    display: inline-block;
    margin-left: 10px;
    color: #999;
    vertical-align: middle;
    font-size: 12px;
    line-height: 29px;
  }
  .error {
    display: inline-block;
    margin-left: 5px;
    color: $g-brand-danger;
    vertical-align: middle;
    font-size: 12px;
    line-height: 29px;
  }
  .checkbox {
    margin-right: 6px;
    color: #999;
    font-size: 12px;
    line-height: 29px;
  }
}

.msg-error {
  color: $g-brand-danger;
}

.form-footer {
  margin-top: 20px;
}


.input-search {
  position: relative;
  display: inline-block;
  
  .icon-search {
    position: absolute;
    top: 6px;
    left: 6px;
  }
  
  input[type=text] {
    padding-left: 25px;
  }
}

.checkbox {
  display: inline-block;
  overflow: auto;
  vertical-align: middle;

  input {
    margin-right: 4px;
  }
}
.input-password {
  position: relative;
  display: inline-block;
  
  input[type=password],
  input[type=text] {
    padding-right: 25px;
  }
  
  .icon {
    position: absolute;
    top: 50%;
    right: 6px;
    margin-top: -8px;
  }
}