$top-distance: $g-navbar-height + $g-distance;
$sidebar-width: 190px;

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  min-height: 100%;
}

.app-wrap {
  padding-top: $top-distance;
  min-height: 100%;
  min-width: $mw-lg;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 0 $g-distance;
  width: 100%;
  height: $g-navbar-height;
  background: $g-main-color;

  .brand {
    display: block;
    float: left;
    padding: 10px 0;
    color: #f2f2f2;
    line-height: 30px;
  }
  .user {
    position: absolute;
    right: $g-distance;
    padding: 5px $g-distance;
    border-left: 1px solid #ccc;
    color: #f2f2f2;
  }
  
  .icon-user {
    padding: 5px 15px 0 15px;
    background-color: #e4e4e4;
    color: #000;
    font-size: 35px;
  }
  
  .icon-down {
    float: right;
    margin-left: 5px;
    font-size: 20px;
    line-height: 40px;
  }
}
.user-pop-over {
  position: fixed;
  top: $g-navbar-height + 1px;
  right: 0;
  z-index: 1070;
  min-width: 340px;
  background: $g-main-color;
  color: #f5f5f5;
  
  a {
    padding: 8px 12px;
    color: #f5f5f5;
    transition: background-color .3s;
    
    &:hover {
      background: #1292c5;
      color: #f5f5f5;
    }
  }
  .user-info {
    .icon-user {
      margin: 10px;
      padding: 5px 30px 0 30px;
      background-color: #e4e4e4;
      color: #000;
      font-size: 86px;
    }
  }
  
  .user-controls {
    background-color: $g-main-color-light;

    @include clearfix;
    
    .change-pas {
      float: left;
    }
    .sign-out {
      float: right;
    }
    
    .fa {
      margin-right: 4px;
    }
  }
}
.main {
  overflow: auto;
  padding: $g-distance;
  padding-top: $top-distance;
}
.main-nav {
  position: fixed;
  top: $top-distance;
  bottom: $g-distance;
  z-index: 1000;
  width: 180px;
  background: #e4e4e4;

  ul {
    padding: 0;
    background: #e4e4e4;
    li {
      list-style: none;
      a {
        display: block;
        line-height: 20px;
        padding: $g-distance-md 0;
        padding-left: $g-size;
        border-bottom: 1px solid #f2f2f2;
        color: #666;

        
        &:focus,
        &:active,
        &:visited {
          color: #666;
        }
        
        &:hover {
          color: #333;
        }
        

        &.active {
          color: $g-brand-danger;
        }
        
        .icon {
          margin-right: 10px;
          float: left;
          font-size: 20px;
          width: 20px;
          display: inline-block;
        }
      }
    }
  }
}

.main-content {
  float: left;
  width: 100%;

  .main-content-wrap {
    position: absolute;
    top: 60px;
    right: 0;
    bottom: $g-distance;
    left: 190px;
    min-width: 1024px - 200px;
    padding: 0 $g-distance;

    h2 {
      margin-bottom: 20px;
    }
  }
}
.page-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $g-distance;
  height: 50px;
  background: #e4e4e4;
}
.pop-over {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  overflow: hidden;
  
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: #000;
    
    @include opacity(0);
  }
}