$g-navbar-height: 60px;
$top-distance: $g-navbar-height + $g-distance;
$sidebar-width: 190px;
$nav-text-color: #ababab;
$main-blue: #0093dd;

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  min-height: 100%;
}

.app-wrap {
  padding-top: $top-distance;
  min-width: $mw-lg;
  min-height: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: $g-navbar-height;
  background: $g-main-color;
  
  .brand {
    display: block;
    width: 190px;
    height: 58px;
    float: left;
    padding: 10px;
    padding-left: $g-size - 12px;
    color: $nav-text-color;
    background: $g-main-color-light url(../../assets/images/logo.png) 25px center no-repeat;
    background-size: 60px;
    line-height: 40px;
    padding-left: 100px;
    border-radius: 2px;
    
    .logo {
      font-size: 16px;
      display: inline-block;
      margin-right: 8px;
      padding-right: 8px;
    }
  }
  .aside {
    float: right;
  }
  .icon-user {
    padding: 5px 15px 0 15px;
    background-color: $nav-text-color;
    vertical-align: middle;    
    color: #000;
    font-size: 35px;
    transition: background .3s ease;
  }
  
  .icon-down {
    float: right;
    margin-left: 8px;
    font-size: 20px;
    line-height: 40px;
    transition: transform .3s ease;
  }
  
  .as-control {
    padding: $g-distance $g-distance-md;
    border-left: 1px solid #333;
    color: #ababab;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px; 
    transition: background .3s ease,color .3s ease;
    
    .icon {
      display: block;
      width: 18px;
      height: 18px;
      margin: 0 auto;
      margin-bottom: 5px;
      font-size: 20px;
      transition: transform .3s ease;
      font-weight: 300;
    }
    
    &:hover {
      background-color: $g-main-color-light;
      color: #fff;
      
      .icon {
        transform: rotate(360deg)scale(1.1);
      }
    }
    
    &:active {
      @include opacity(.7);
    }
  }
  .user {
    display: inline-block;
    vertical-align: middle;
    padding: $g-distance $g-distance-md;
    border-left: 1px solid $g-main-color-light;
    color: $nav-text-color;
    transition: background .3s ease,color .3s ease;
    
    &:hover {
      background-color: $g-main-color-light;
      color: #fff;
      
      .icon-user {
        background-color: #fff;
      }
      
      .icon-down {
        transform: rotate(360deg);
      }
    }
  }
}
.user-pop-over {
  position: fixed;
  top: $g-navbar-height + 1px;
  right: 0;
  z-index: 1070;
  min-width: 340px;
  background: $g-main-color;
  color: #f5f5f5;
  
  a {
    padding: 8px 12px;
    color: #f5f5f5;
    transition: background-color .3s;
    
    &:hover {
      background: $main-blue;
      color: #f5f5f5;
    }
  }
  .user-info {
    .icon-user {
      margin: 10px;
      padding: 5px 30px 0 30px;
      background-color: #e5e5e5;
      color: #000;
      font-size: 86px;
    }
  }
  
  .user-controls {
    background-color: $g-main-color-light;

    @include clearfix;
    
    .change-pas {
      float: left;
    }
    .sign-out {
      float: right;
    }
    
    .fa {
      margin-right: 4px;
    }
  }
}
.main {
  overflow: auto;
  padding: $g-distance;
  padding-left: 0;
  padding-top: $top-distance;
}
.main-nav {
  position: fixed;
  top: $g-navbar-height;
  bottom: 0;
  z-index: 1000;
  width: 190px;
  background: #444;

  ul {
    padding: 0;
    //border-top: 1px solid #222;
    border-right: none;
    background: #444;
    
    li {
      list-style: none;
      a {
        display: block;
        padding: $g-distance-md 0;
        padding-left: $g-size;
        border-bottom: 1px solid #363636;
        color: $nav-text-color;
        line-height: 20px;
        transition: background-color .2s ease-in-out, color .2s ease;
        
        &:hover {
          color: #fff;
        }

        &.active {
          background-color: #363636;
          color: #fff;
          
          .icon {
            color: $main-blue;
          }
        }
        
        .icon {
          display: inline-block;
          margin-right: 10px;
          width: 20px;
          vertical-align: middle;
          font-size: 20px;
        }
      }
    }
  }
}

.main-content {

  .main-content-wrap {
    position: absolute;
    top: $top-distance;
    right: 0;
    bottom: $g-distance;
    left: 190px;
    padding: 0 $g-distance;
    min-width: 1024px - 200px;

    h2 {
      margin-bottom: 20px;
    }
  }
}
.page-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $g-distance;
  height: 50px;
  background: #e5e5e5;
}
.pop-over {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  overflow: hidden;
  
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: #000;

    @include opacity(0);
  }
}