.DateInput {
  padding: 2px;
  font-size: 14px;
  width: 110px;
  color: #333;
  text-align: center;

  .DateInput__display-text {
    padding: 0px 4px;
    padding-left: 8px;
    font-size: 12px;
  }
}

.SingleDatePicker {
  line-height: normal;

  .DateInput {
    text-align: left;
  }
}
.DateRangePicker__picker,
.SingleDatePicker__picker {
  top: 42px;
}
.DateInput--with-caret::before,
.DateInput--with-caret::after {
  top: 32px;
  filter: drop-shadow(0px -2px 1px #ccc);
}

.en {
  .DateInput {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  }
}
