{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          // "last 2 versions"
          // "Android >= 2.3",
          // "Chrome >= 40",
          // "Firefox >= 24", // Firefox 24 is the latest ESR
          // "iOS >= 6",
          // "Opera >= 12",
          // "Safari >= 6",
          "ie >= 9"
        ]
      },
      // "modules": false
      "uglify": true
    }],
    "stage-2",
    "react",
    "flow"
  ],
  "plugins": [
    "transform-class-properties",
    //["transform-replace-object-assign", "object.assign"],
    ["transform-runtime", {
      "helpers": true, // defaults to true
      "polyfill": false, // defaults to true
      "regenerator": false // defaults to true
    }],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "shared": "./shared",

        // For test
        "src": "./src"
      }
    }]
  ],
  "env": {
    "development": {
      "presets": [
        // "es2015-loose"
      ]
    }
  }
}
