{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["not ie <= 8"]
      }
    }],
    "stage-3",
    "react",
    "flow"
  ],
  "env": {
    "development": {
      "presets": [
        // "es2015-loose"
      ]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  },
  "plugins": [
    ["transform-runtime", {
      "helpers": true, // defaults to true
      "polyfill": true, // defaults to true
      "regenerator": true // defaults to true
    }],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "shared": "./shared",

        // For test
        "src": "./src"
      }
    }]
  ]
}
