{
    "presets": [
        "es2015",
        "react"
    ],
    "plugins": [
        "add-module-exports",
        "transform-es5-property-mutators",
        "transform-jscript",
        [
            "resolver", { "resolveDirs": [
                "src/shared"
            ]}
        ]
    ]
}
