{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "import"
  ],

  "settings": {
    "ecmascript": 6,
    "import/resolver": {
      "node": {
        "paths": "./"
      }
    }
  },
  "globals": {
    "window": true,
    "document": true,
    "fetch": true,
    "_": true,
    "GUI_CONFIG": true,
    "guiConfig": true,
    "sessionStorage": true,
    "b28n": true
  }
}
