{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "import"
  ],
  "settings": {
    "ecmascript": 6,
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".es6"
        ],
        "paths": [
          "./"
        ],
        "moduleDirectory": [
          "node_modules"
        ]
      }
    }
  },
  "globals": {
    "window": true,
    "document": true,
    "fetch": true,
    "_": true,
    "GUI_CONFIG": true,
    "guiConfig": true,
    "sessionStorage": true,
    "b28n": true
  },
  "rules": {
    "new-cap": [
      2,
      {
        // for Immutable
        "capIsNewExceptions": [
          "List",
          "OrderedSet",
          "Range",
          "Map"
        ]
      }
    ]
  }
}
