@import "functions";
@import "variables";
@import "mixins";

$hoverColor: #ecf6fd;

.rw-table-container {
  position: relative;

  &--scroll-position-left {
    .rw-table-fixed-left {
      box-shadow: none;
    }
  }
  &--scroll-position-right {
    .rw-table-fixed-right {
      box-shadow: none;
    }
  }
  &-fixed-header {
    .rw-table-body {
      tbody {
        tr:first-child {
          td {

            // 消除 第一条线与 header Table 叠加问题
            border-top: none;
          }
        }
      }
    }
  }
}

.rw-table {
  min-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: #fff;

  caption {
    text-align: left;
  }

  th,
  td {
    padding: 4px 6px;
    text-align: left;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    vertical-align: middle;
    word-break: keep-all;
    white-space: nowrap;

    .a-checkbox--square {
      margin-right: 0;
      input[type=checkbox] + label {
        background-color: #fff;
      }
    }
  }
  th {
    font-weight: 400;
    color: #fff;
    background: #1d2531;
  }

  tr.rw-table-row-hover,
  tr:hover {
    background-color: $hoverColor;
  }

  .empty {
    padding: 16px 6px;
    color: $g-gray-light;
  }
  .action-btns {
    min-height: 22px;
    //height: 22px;

    .a-btn {
      margin-right: 8px;
      color: #0070d2;
      background-color: transparent;
      border: 0;
      padding: 2px 4px;
      line-height: 16px;
      transition: opacity .2s ease-in-out;

      .icon {
        font-size: 16px;
        vertical-align: bottom;
      }

      &:hover {
        opacity: .8;
      }
    }
  }
  &--fixed {
    td,
    th {
      @include ellipsis();
    }
  }
  &--pionter {
    tr {
      cursor: pointer;
    }
  }

  &--light {
    th {
      border-top: none;
      font-weight: bold;
      background-color: #fff;
      color: #333;
    }
  }

  &-scroll {
    overflow: auto;
  }

  &-fixed-left,
  &-fixed-right {
    position: absolute;
    top: 0;
    overflow: hidden;
    transition: box-shadow .3s ease-in-out;
  }

  &-fixed-right {
    right: 0;
    box-shadow: -4px 0 4px rgba(100, 100, 100, 0.1);
  }

  &-fixed-left {
    left: 0;
    box-shadow: 4px 0 4px rgba(100, 100, 100, 0.1);
  }
}

.rw-table-config {
  &__list {
    .a-checkbox--square {
      display: block;
      padding: 5px;
      cursor: pointer;
      margin-right: 0;

      &:hover {
        background-color: $hoverColor;
      }
    }

    // disable
    &.disabled {
      .a-checkbox--square {
        cursor: not-allowed;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}

