@import "functions";
@import "variables";
@import "mixins";

.rw-table-container {
  position: relative;
}
.rw-table {
  min-width: 100%;
  border-spacing: 1;
  border-collapse: collapse;

  caption {
    text-align: left;
  }

  th,
  td {
    padding: 4px 6px;
    text-align: left;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;

    .a-checkbox--square {
      input[type=checkbox] + label {
        background-color: #fff;
      }
    }
  }
  th {
    font-weight: 400;
    color: #fff;
    background: #1d2531;
  }
  td {
    background-color: #fff;
    .a-checkbox--square {
      margin: 3px 0;
    }
  }

  tr:hover {
    background-color: #fff;
  }

  .empty {
    padding: 16px 6px;
    color: $g-gray-light;
  }
  .action-btns {
    .a-btn {
      margin-right: 8px;
    }
  }

  &--pionter {
    tr {
      cursor: pointer;
    }
  }

  &--light {
    background-color: #fff;
    th {
      border-top: none;
      font-weight: bold;
      background-color: #fff;
      color: #333;
    }

    tr:hover {
      background-color: #f3f3f3;
    }
  }
}
.rw-table-scroll {
  overflow: auto;
}
.rw-table-fixed-left,
.rw-table-fixed-right {
  position: absolute;
  top: 0;
  overflow: hidden;
}
.rw-table-fixed-right {
  right: 0;
  box-shadow: -4px 0 4px rgba(100, 100, 100, 0.1);
}

.rw-table-config {
  .a-checkbox--square {
    display: block;
    padding: 5px;
    cursor: pointer;
    margin-right: 0;

    &:hover {
      background-color: #ddd;
    }
  }
}

