.info-box {
  margin-left: 30px;
}

.box-cell-head {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

.radio-off-notice {
  height: 270px;
  line-height: 260px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #ccc;
}

.o-description-list-row dt {
  min-width: 121px;
}
