
@import "functions";
@import "variables";
@import "mixins";

$backgroundColor: #1b2033;
$cardBackgroundColor: #010a29;
$spacer: .75rem;
$radiusSize: 6px;
$warningSize: 10px;

.app-warp {
  &--dashboard {
    padding-top: 0;

    background-color: $backgroundColor;

    .navbar {
      box-shadow: none;
    }
  }
}

.t-main {
  &--dashboard {
    padding: 0;
  }
}

.rw-dashboard {
  padding: $spacer;

  .cols {
    padding-right: 1rem;

    &:last-child {
      padding-right: 0;
    }
  }
}

.rw-dashboard-card {
  background-color: $cardBackgroundColor;
  color: #fff;
  margin-bottom: $spacer;
  border-radius: $radiusSize;
  padding: 0 4px;

  .link-more {
    color: #ddd;
    line-height: 18px;
    transition: transform .3s ease-in-out;

    &:hover {
      color: #fff;
    }
  }

  .table {
    tr {
      &:hover {
        background-color: transparent;
        opacity: .8;
      }
    }

    th,
    td {
      background-color: transparent;
      color: #efefef;
      border: none;
      padding: 8px;
    }
    th {
      border-bottom: 1px solid #ccc;
    }
  }

  .rw-map {
    height: 304px;
    background-color: #eee;
  }

  &__header {
    border-top-right-radius: $radiusSize;
    border-top-left-radius: $radiusSize;
  }
  &__content {
    border-bottom-right-radius: $radiusSize;
    border-bottom-left-radius: $radiusSize;
  }
  &.rw-dashboard-card--lg {
    padding: 0 12px;
  }

  &.rw-dashboard-card--max {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1600;

    .rw-map {
      position: absolute;
      width: 100%;
      top: 36px;
      bottom: 0;
    }
  }
  &--fixed-header {
    position: relative;
    padding: 0;

    .rw-dashboard-card__header {
      position: absolute;
      background-color: $cardBackgroundColor;
      opacity: .8;
      width: 100%;
      z-index: 2;
    }

    .rw-dashboard-card__content {
      border-top-right-radius: $radiusSize;
      border-top-left-radius: $radiusSize;
    }

    .rw-map-zoom-bar {
      top: 42px;
    }
  }

}

.rw-description-list {
  @include clearfix();
  line-height: 1.2rem;

  dt,
  dd {
    float: left;
    width: 50%;
    padding: $spacer * 0.75;
  }

  dt {
    .icon {
      margin-right: $spacer * 0.5;
      width: 12px;
      text-align: center;
    }
  }

  dd {
    font-size: 2rem;
  }
}

.chart-container {
  min-height: 190px;
  border-radius: 4px;
}

.rain-description {
  line-height: 24px;
  text-align: center;
  padding: $spacer;
  border-top: 1px solid #555c6f;
  font-size: 14px;
  margin-bottom: $spacer;

  > span {
    font-size: 18px;
  }
}

.rw-dashboard-environment {
  text-align: center;
  padding-bottom: 9px;

  li,
  dt,
  dd {
    text-align: center;
    padding: 5px 0;
  }
  dd {
    font-size: 16px;
  }
}

.rw-dashboard-location {
  padding-bottom: $spacer;

  &__header {
    font-size: 20px;
    font-weight: normal;
  }
  &__content {
    color: #d5d5d5;
    height: 180px;
    overflow: auto;

    li {
      padding: $spacer * 2 / 3;
    }
  }
}

.rw-map-warning-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ff2573;
  text-align: center;
  top: 20%;
  left: 40%;
  border-radius: 40px;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -3px;
    display: inline-block;
    background-color: #fff;
    width: 6px;
    height: 6px;
    border-radius: 4px;
    line-height: 16px;
    vertical-align: middle;
  }
  &::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    border-radius: inherit;
    border: 0 solid #ff2573;
    opacity: .6;
    animation: warningEffect 1.2s infinite;
    display: block;
  }
  .rw-map-warning-icon__warning {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    border-radius: inherit;
    border: 0 solid #ff2573;
    opacity: .6;
    animation: warningEffect 1s infinite;
    animation-delay: .2s;
  }
}

//
// Button
// --------------------------------------------------
@keyframes warningEffect {
  to {
    opacity: 0;
    top: -$warningSize;
    left: -$warningSize;
    bottom: -$warningSize;
    right: -$warningSize;
    border-width: $warningSize;
  }
}
@-webkit-keyframes warningEffect {
  to {
    opacity: 0;
    top: -$warningSize;
    left: -$warningSize;
    bottom: -$warningSize;
    right: -$warningSize;
    border-width: $warningSize;
  }
}


