.env-top {

  .env-top-cards {
    width: 20%;

    .env-top-infobox {
      padding: 15px 0;
    }

    .env-infobox-left {
      width: 40%;
      padding-left: 15%;
      padding-top: 10px;
    }

    .env-infobox-right {
      padding-left: 15%;
      padding-top: 15px;
      padding-bottom: 20px;

      .infobox-right-value {
        font-size: 35px;

        span {
          font-size: 15px;
          margin-left: 10px;
        }
      }

      .infobox-right-title {
        font-size: 15px;
      }
    }
  }
}

.env-middle {

  .element {
    height: 300px;
  }
}
