@import "functions";
@import "variables";
@import "mixins";

.rw-main-dashboard {
  position: absolute;
  top: 52px;
  left: 76px;
  right: 0;
  bottom: 0px;
  overflow: auto;
}

// label
.rw-label {
  font-size: 14px;
  display: inline-block;
  min-width: 36px;
  text-align: center;
  padding: 4px 6px;
  margin-left: 8px;
  color: #fff;
  border-radius: 4px;

  &.rw-label--on {
    background-color: #409eff;
  }
  &.rw-label--off {
    background-color: #ff6d6d;
  }
}
.m-dsb-wrap {
  padding: 15px 20px;
  min-height: 100%;
  background-color: #f5f5f5;
  overflow: hidden;

  .Select {
    margin-right: 12px;
    float: right;

    .Select-control {
      border-color: #eee;
      background-color: #eee;
    }

    &-menu {
      background-color: #eee;
      border: none;
    }
    &-option {
      background-color: #eee;
      &:hover {
        background-color: #ecf6fd;
      }
    }
    &.is-open {
      .Select-control {
        border-color: brand-color();
      }
      .Select-menu-outer {
        border-color: brand-color();
        border-top-color: #ccc;
        overflow: hidden;
      }
    }
  }

  .Select-arrow {
    border-color: #888 transparent transparent;
  }
  .m-dsb-cards-row {

    > .top-card-wrap:not(:last-child) {
      padding-right: 18px;
    }

    > .top-card-wrap:nth-child(1) .top-card-left .card-left-img {
      background-color: #feb909;
    }
    > .top-card-wrap:nth-child(2) .top-card-left .card-left-img {
      background-color: #a388d2;
    }
    > .top-card-wrap:nth-child(3) .top-card-left .card-left-img {
      background-color: #409eff;
    }
    > .top-card-wrap:nth-child(4) .top-card-left .card-left-img {
      background-color: #ff6d6d;
    }

    .top-card-wrap {
      .top-card {
        height: 140px;
        background-color: #ffffff;
        box-shadow: 0px 2px #ccc;

        .top-card-left {
          height: 100%;
          position: relative;
          text-align: center;


          .card-left-img {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -42px;
            margin-top: -42px;

            width: 85px;
            height: 85px;
            // border: 1px solid black;

            .card-left-icon {
              margin-top: 12px;
            }
          }
        }

        .top-card-right {
          font-weight: 200;
          .card-right-title {
            font-size: 21px;
            height: 70px;
            line-height: 70px;
            padding-top: 4px;
          }

          .card-right-data {

            .right-data-num {
              font-size: 32px;
            }
            .right-data-unit {
              font-size: 14px;
              margin-top: 17px;
              margin-left: 15px;
            }
          }
        }
      }
    }
  }

  .m-dsb-head-bar {
    background-color: #fff;
    margin-top: 22px;
    box-shadow: 0px 2px #ccc;

    .head-bar-left {
      padding: 15px 0;
      border-right: 2px solid #ccc;

      .bar-left-left {
        font-size: 20px;
        font-weight: normal;
        line-height: 1.14;
        padding-left: 15px;
      }

      .bar-left-right {
        padding-right: 15px;

        .wireless-trend-select {
          width: 100px;
          margin-left: 10px;
        }
      }
    }

    .head-bar-right {
      padding-top: 15px;

      .bar-right-icon {
        min-width: 28px;
        min-height: 28px;
        cursor: pointer;
      }
    }
  }

  .m-dsb-map-view {
    height: 500px;
    background-color: #fff;
    margin-top: 22px;

    .m-dsb-map-view-ap {
      position: relative;
      display: inline-block;

      .m-dsb-map-view-hover {
        position: absolute;
        bottom: 50px;
        width: 300px;
        background-color: #fff;
        margin-left: -130px;
        padding-bottom: 15px;

        .m-dsb-hover-head {
          height: 40px;
          line-height: 40px;
          background-color: #000;
          color: #fff;
          font-size: bold;
          padding-left: 10px;
          margin-bottom: 10px;
        }

        .m-dsb-hover-left {
          padding-left: 15px;
          height: 20px;
          line-height: 20px;
          font-weight: bold;
        }
        .m-dsb-hover-right {
          text-align: left;
          height: 20px;
          line-height: 20px;
        }
      }
    }
  }

  .m-dsb-body-wrap,
  .m-dsb-wireless-trend {
    background-color: #ffffff;
    box-shadow: 0px 2px #ccc;
    margin-top: 10px;
    padding-bottom: 1px;
    margin-bottom: -1px;
  }
}

.m-dsb-wired-status {

  .m-dsb-interface-wrap {
    background-color: rgba(170, 170, 170, 0.27);
    height: 130px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;

    .m-dsb-interface-status,
    .m-dsb-interface-name,
    .m-dsb-interface {
      text-align: center;
      margin-top: 10px;
      font-weight: bold;
    }
    .m-dsb-flowboard {
      position: absolute;
      width: 260px;
      color: black;
      font-size: 20px;
      background-color: white;
      box-shadow: 1px 2px #aaa;
      border-radius: 5px;
      padding: 10px;
      z-index: 999;
    }
  }
}




// .rw-card-top {
//   padding: 30px 20px;
//   background-color: #fff;
//   @include clearfix();


//   &__img {
//     .icon {
//       font-size: 40px;
//       background-color: brand-color();
//       color: #fff;
//       width: 85px;
//       height: 85px;
//       text-align: center;
//       line-height: 85px;
//     }
//   }
// }
