//## media query
$mw-sm:  320px;
$mw-md:  768px;
$mw-lg:  1024px;
$mw-xl:  1382px;

.container {
  width: $mw-lg;
  margin-right: auto;
  margin-left: auto;

  @include clearfix;
}
.row {
  @include clearfix;
}
.cols,
[class='col-*'] {
  float: left;
}
.container {
  > .row {
    margin: 0 -10px;

    .cols {
      padding: 10px;
    }
  }
}

@include make-grid();

// Powerbooks
@media screen and (min-width: $mw-xl) {

}

// Ipads
@media screen and (min-width: $mw-lg) {

}

// Tablets
@media screen and (min-width: $mw-md) {

}

// Mobile
@media screen and (min-width: $mw-sm) {

}
