.m-progress-bar {
  .m-progress-bar__title {
    padding-top: 16px;
    margin-bottom: 16px;
    font-size: 14px;
    text-align: center;
  }
  .m-progress-bar__body {
    margin-bottom: 16px;
  }
}

