.bar-background {
  margin: 0 auto;
  width: 400px;
  height: 100px;
  background-color: #999;
  opacity: 0.5;
  color: red;
}

.bar-wrap {
  position: relative;

  .bar-percentage {
    position: absolute;
    width: 100%;
    line-height: 1rem;
    text-align: center;
    top: 50%;
    margin-top: -0.5rem;
    color: #000;
  }
}

.bar-body1 {
  height: 28px;
  background-color: red;
}

.bar-title {
  padding-top: 15px;
  font-size: 14px;
  text-align: center;
}

