// Variables
//
// Copy settings from this file into the provided `_custom.scss` to override


// Table of Contents
//
//  1. Colors
//  2. Options
//  3. Distance
//  4. Body
//  5. LinksD
//  6. Typography

//  7. Components




// 1. Colors
//
// 全局的灰度，品牌等颜色配置.

$g-neutral:              #4F6A92 !default;
$g-neutral-light:        #A7B8D1 !default;
$g-neutral-lighter:      #CFD7E7 !default;
$g-neutral-lightest:     #EEF1F6 !default;

$g-black:                   #000 !default;
$g-gray-darker:               lighten($g-black, 13.5%) !default; // #222
$g-gray-dark:                 lighten($g-black, 20%)   !default; // #333
$g-gray:                      lighten($g-black, 33.5%) !default; // #555
$g-gray-light:                lighten($g-black, 46.7%) !default; // #777
$g-gray-lighter:              lighten($g-black, 93.5%) !default; // #eee

$g-brand-primary:           #0093DD !default;
$g-brand-primary-dark:      #0070d2 !default;
$g-brand-primary-darker:    #005fb2 !default;
$g-brand-primary-darkest:   #00396b !default;
$g-brand-success:           #4BC076 !default;
$g-brand-info:              #62B7ED !default;
$g-brand-warning:           #F7B64B !default;
$g-brand-danger:            #C23934 !default;

$g-main-color:               #141a23 !default;
$g-main-color-light:         #1d2531 !default;
$g-main-color-lighter:       #666 !default;

// 2. Options
//
// Quickly modify global styling by enabling or disabling optional features.

$g-enable-flex:               false !default;
$g-enable-rounded:            true !default;
$g-enable-shadows:            false !default;
$g-enable-gradients:          false !default;
$g-enable-transitions:        true !default;
$g-enable-hover-media-query:  false !default;
$g-enable-grid-classes:       true !default;
$g-enable-print-styles:       true !default;

//  3. Distance
//
//  元素间距

$g-distance: 			          1rem !default;
$g-distance-x: 			        $g-distance !default;
$g-distance-y: 			        $g-distance !default;
$g-distance-md: 		        $g-distance * 1.25 !default;
$g-distance-lg: 			      $g-distance * 1.5 !default;
$g-distance-sm:             $g-distance * 0.75 !default;
$g-distance-min:            $g-distance * 0.5 !default;

//   Size
//
// Common size
$g-size:                  $g-distance * 2 !default;
$g-size-lg:               $g-size * 2 !default;
$g-size-sm:               $g-size * 0.5 !default;
$g-main-bar-height:       $g-distance * 2.25 !default;
$g-top-menu-size:         $g-distance * 2.75 !default;

// App icon size
$g-icon-size:               55px !default;
$g-icon-size-large:         $g-icon-size * 2 !default;
$g-icon-size-small:         ceil(($g-icon-size * 0.29)) !default;



//  4. Body
//
// Settings for the `<body>` element.

$g-body-bg:       #f2f2f2 !default;
$g-body-color:      $g-gray-dark !default;
$g-inverse-bg:      $g-gray-dark !default;
$g-inverse-color:   $g-gray-lighter !default;

$g-text-highlight:          $g-brand-danger !default;
$g-text-help:               #b1b1b1 !default;
$g-text-btn:                #FFF !default;


//  5. Links
//
// Settings anchor element.

$g-link-color:              $g-brand-primary !default;
$g-link-hover-color:        darken($g-link-color, 15%) !default;
$g-link-hover-decoration:   underline !default;


//  6. Typography
//
//## Font, line-height, and color for body text, headings, and more.
$g-line-height:             1.428571429 !default; // 20/14
$g-line-height-sm:          1.2 !default; // 16/14

// font family
$g-font-family-base:        'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$g-font-family-base-en:     "Helvetica Neue","Helvetica","Arial",sans-serif;

// font size
$g-font-size:               12px !default;
$g-font-size-lg:            ceil(($g-font-size * 1.25)) !default; // ~18px
$g-font-size-sm:            ceil(($g-font-size * 0.85)) !default; // ~12px

$g-font-size-h1:            floor(($g-font-size * 2.6)) !default; // ~36px
$g-font-size-h2:            floor(($g-font-size * 2.15)) !default; // ~30px
$g-font-size-h3:            ceil(($g-font-size * 1.7)) !default; // ~24px
$g-font-size-h4:            ceil(($g-font-size * 1.25)) !default; // ~18px
$g-font-size-h5:            $g-font-size !default;
$g-font-size-h6:            ceil(($g-font-size * 0.85)) !default; // ~12px

//== Container size

// mobile
$g-mw-mobile-sm:              320px !default;
$g-mw-mobile-md:              375px !default;
$g-mw-mobile-lg:              420px !default;

//== Grid system
//
//## Grid system for all
$g-grid-columns:              12 !default;

//## media query
$mw-sm:                       320px  !default;
$mw-md:                       768px  !default;
$mw-lg:                       1024px  !default;
$mw-xl:                       1382px !default;


//== navbar
// 值需为 4 的整数倍
$g-navbar-height:             $g-distance * 3.25 !default;


// 10. Components
//
// Define common padding and border radius sizes and more.

$c-line-height-lg:         (4 / 3) !default;
$c-line-height-sm:         1.5 !default;

$c-border-radius:          .25rem !default;
$c-border-radius-lg:       .3rem !default;
$c-border-radius-sm:       .2rem !default;

$c-active-color:           #fff !default;
$c-active-bg:               $g-brand-primary !default;

$c-caret-width:            .3em !default;
$c-caret-width-lg:         $c-caret-width !default;



//  11. A Progress
//
//  Define Atom Components Progress

$a-progress-bg:                 #ddd !default;
$a-progress-bar-color:          #0074d9 !default;
$a-progress-border-radius:      $c-border-radius !default;
$a-progress-box-shadow:         inset 0 .1rem .1rem rgba(0,0,0,.1) !default;

$a-progress-bar-bg:             $g-brand-primary !default;
$a-progress-bar-success-bg:     $g-brand-success !default;
$a-progress-bar-warning-bg:     $g-brand-warning !default;
$a-progress-bar-danger-bg:      $g-brand-danger !default;
$a-progress-bar-info-bg:        $g-brand-info !default;





