@import "../../scss/variables";
@import "../../scss/mixins";

//
// Button
// --------------------------------------------------

.a-btn {
  display: inline-block;
  padding: .5em 1em;
  font-size: $g-font-size;
  line-height: 1;
  color: #666;
  white-space: nowrap;
  user-select: none;
  text-decoration: none;
  cursor: pointer;
  background-color: #e8e8e8;
  border: 1px solid transparent;
  border-radius: 3px;
  vertical-align: middle;

  &:active {
    @include opacity(.8);
  }
  .icon {
    margin-right: 6px;
  }

  &.a-btn--no-text {
    .icon {
      margin-right: 0;
    }
  }
  &[disabled] {
    opacity: .6;
    cursor: not-allowed;
  }
  &.a-btn--loading {
    opacity: .8;
    cursor: not-allowed;
  }
}

a.a-btn {
  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: $g-text-btn;
    text-decoration: none;
  }
}



.a-btn--block {
  display: block;
}

// Button size type
.a-btn--sm {
  font-size: 12px;
  padding: 4px 8px;
}
.a-btn--min {
  font-size: 10px;
  padding: .2em .6em;
}

.a-btn--lg {
  font-size: 16px;
  padding: 9px 18px;
}

// Button Role
.a-btn--default {
  background-color: #e8e8e8;
  border-color:#ccc;

  &:hover {
    background-color: #e8e8e8 - #101010;
    border-color: #adadad;
  }
}
.a-btn--primary {
  color: #fff;
  background-color: $g-brand-primary;

  &:hover {
    background-color: $g-brand-primary - #101010;
  }
}
.a-btn--success {
  color: #fff;
  background-color: $g-brand-success;

  &:hover {
    background-color: $g-brand-success - #101010;
  }
}
.a-btn--info {
  color: #fff;
  background-color: $g-brand-info;

  &:hover {
    background-color: $g-brand-info - #101010;
  }
}
.a-btn--warning {
  color: #fff;
  background-color: $g-brand-warning;

  &:hover {
    background-color: $g-brand-warning - #101010;
  }
}
.a-btn--danger {
  color: #fff;
  background-color: $g-brand-danger;

  &:hover {
    background-color: $g-brand-danger - #101010;
  }
}

button[disabled] {
  cursor: not-allowed;
  opacity: .8;
}
