@import "../../scss/variables";
@import "../../scss/mixins";

//
// Button
// --------------------------------------------------
@keyframes buttonEffect {
  to {
    opacity: 0;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border-width: 6px;
  }
}

.a-btn {
  position: relative;
  display: inline-block;
  padding: .5em 1em;
  font-size: $g-font-size;
  line-height: 1;
  color: #fff;
  white-space: nowrap;
  user-select: none;
  text-decoration: none;
  cursor: pointer;
  background-color: scene-color('secondary');
  border: 1px solid transparent;
  border-radius: 3px;
  vertical-align: middle;
  transition: background-color .3s ease-in-out;

  &:active {
    @include opacity(.8);
  }
  .icon {
    margin-right: 6px;
    line-height: inherit;
    //float: left;
  }

  &.a-btn--no-text {
    .icon {
      margin-right: 0;
    }
  }
  &[disabled] {
    opacity: .6;
    cursor: not-allowed;
  }
  &.a-btn--loading {
    opacity: .8;
    cursor: not-allowed;
  }
  &.a-btn--clicked {
    &:after {
      content: '';
      position: absolute;
      top: -1px;
      left: -1px;
      bottom: -1px;
      right: -1px;
      border-radius: inherit;
      border: 0 solid $g-brand-primary;
      opacity: 0.4;
      animation: buttonEffect .4s;
      display: block;
    }
  }
}

a.a-btn {
  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: $g-text-btn;
    text-decoration: none;
  }
}

// Button size type
.a-btn--sm {
  font-size: 12px;
  padding: 4px 8px;

  .icon {
    margin-right: 4px;
  }
}
.a-btn--min {
  font-size: 10px;
  padding: .25em .5em;

  .icon {
    margin-right: 3px;
  }
}

.a-btn--lg {
  font-size: 16px;
  padding: 9px 18px;
}

//
// Alternate scene buttons
//
@each $color, $value in $scene-colors {
  .a-btn--#{$color} {
    @include button-variant($value, $value);
  }
}

.a-btn--block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.a-btn--block + .a-btn--block {
  margin-top: $g-distance / 2;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.a-btn--block {
    width: 100%;
  }
}


//
// Link buttons
//

// Make a button look and behave like a link
.a-btn-link {
  font-weight: normal;
  color: $blue;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &:disabled {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:focus,
  &:active {
    border-color: transparent;
    box-shadow: none;
  }
}
