// Theme 'toggle' 'square' 'check' 'circle'
// default is 'toggle'

.a-checkbox {
  display: inline-block;
  margin-right: 6px;
  overflow: auto;
  vertical-align: middle;
  user-select: none;

  input[disabled] + label {
    cursor: not-allowed;
  }
  input[type=checkbox]:not([disabled]) {
    cursor: pointer;
  }
  input[type=checkbox] {
    display: none;

    & + label {
      float: left;
      width: 30px;
      height: 16px;
      padding: 2px 3px;
      overflow: hidden;
      line-height: 12px;
      background-color: #c5c5c5;
      border-radius: 12px;
      /* cursor: pointer; */
      transition: background-color .3s ease-in-out,
                  padding-left .2s ease-in-out;

      &::before {
        display: inline-block;
        width: 12px;
        height: 12px;
        font-size: 12px;
        line-height: 12px;
        color: transparent;
        content: "";
        background-color: #fff;
        border-radius: 8px;
        transition: float .6s ease-in-out;
      }
    }

    &:checked {
      & + label {
        padding-left: 15px;
        background-color: $g-brand-success;

        &::before {
          color: #fff;
        }
      }
    }
  }

  .a-checkbox__text {
    float: left;
    line-height: 16px;
    margin-left: .3em;
    color: #777;
  }

  &.a-checkbox--lg {
    input[type=checkbox] {
      & + label {
        min-width: 52px;
        height: 28px;
        padding: 3px;
        border-radius: 30px;

        &::before {
          width: 22px;
          height: 22px;
          border-radius: 30px;
        }
      }

      &:checked {
        & + label {
          text-align: right;
          background-color: $g-brand-success;

          &::before {
            color: #fff;
          }
        }
      }
    }
  }

  &.a-checkbox--square {

    input[type=checkbox] {
      & + label {
        text-align: center;
        width: 16px;
        height: 16px;
        padding: 0;
        overflow: hidden;
        border: 2px solid #cccccc;
        background-color: transparent;
        border-radius: 2px;

        &::before {
          font-size: 12px;
          line-height: 12px;
          color: transparent;
          content: "\2713";
          background-color: transparent;
          border-radius: 8px;
          transition: color .3s ease-in-out;
        }
      }

      &:checked {
        & + label {
          border-color: $g-brand-success;

          &::before {
            color: $g-brand-success;
          }
        }
      }
    }
  }
}
