.a-input-file {
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;

  .a-input-file__icon {
    position: absolute;
    top: 50%;
    left: 8px;
    margin-top: -.5em;
  }

  .a-input-file__input {
    padding-left: 25px;
  }

  .a-input-file__clear {
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -8px;
    z-index: 4;
    color: #999;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;

    &:hover {
      color: #666;
    }
  }

  > input[type='file'],
  .a-input-file__file {
    position: absolute;
    right: 0;
    cursor: pointer;
    line-height: 0;
    padding: 0;
    height: 100%;
    min-width: 100%;
    font-size: 120px;
    z-index: 2;

    @include opacity(0);
  }
}
