.a-heart {
  position: relative;
  font-size: 0;
  width: 138px;
  margin-top: 40px;
  height: 60px;

  &.a-heart--sm {
    margin: 0 auto;
    height: 30px;
    transform: scale(.4, .4);
  }
}
[class*="heart-piece-"] {
  position: absolute;
  top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
.a-heart-piece-4 {
  -webkit-animation: piece-4 2.4s infinite;
          animation: piece-4 2.4s infinite;
}
.a-heart-piece-3,
.a-heart-piece-5 {
  -webkit-animation: piece-3 2.4s infinite;
          animation: piece-3 2.4s infinite;
}
.a-heart-piece-2,
.a-heart-piece-6 {
  -webkit-animation: piece-2 2.4s infinite;
          animation: piece-2 2.4s infinite;
}
.a-heart-piece-1,
.a-heart-piece-7 {
  -webkit-animation: piece-1 2.4s infinite;
          animation: piece-1 2.4s infinite;
}
.a-heart-piece-0,
.a-heart-piece-8 {
  -webkit-animation: piece-0 2.4s infinite;
          animation: piece-0 2.4s infinite;
}
.a-heart-piece-0 {
  left: 0px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  background-color: $g-main-color;
}
.a-heart-piece-1 {
  left: 16px;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  background-color: $g-main-color;
}
.a-heart-piece-2 {
  left: 32px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  background-color: $g-brand-primary;
}
.a-heart-piece-3 {
  left: 48px;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  background-color: $g-brand-primary;
}
.a-heart-piece-4 {
  left: 64px;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  background-color: $g-brand-primary;
}
.a-heart-piece-5 {
  left: 80px;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  background-color: $g-brand-primary;
}
.a-heart-piece-6 {
  left: 96px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  background-color: $g-brand-primary;
}
.a-heart-piece-7 {
  left: 112px;
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
  background-color: $g-main-color;
}
.a-heart-piece-8 {
  left: 128px;
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
  background-color: $g-main-color;
}
@-webkit-keyframes piece-4 {
  0%, 10%, 90%, 100% {
    height: 10px;
    top: -5px;
  }
  45%, 55% {
    height: 94px;
    top: -23px;
  }
}
@keyframes piece-4 {
  0%, 10%, 90%, 100% {
    height: 10px;
    top: -5px;
  }
  45%, 55% {
    height: 94px;
    top: -23px;
  }
}
@-webkit-keyframes piece-3 {
  0%, 10%, 90%, 100% {
    height: 10px;
    top: -5px;
  }
  45%, 55% {
    height: 90px;
    top: -31px;
  }
}
@keyframes piece-3 {
  0%, 10%, 90%, 100% {
    height: 10px;
    top: -5px;
  }
  45%, 55% {
    height: 90px;
    top: -31px;
  }
}
@-webkit-keyframes piece-2 {
  0%, 10%, 90%, 100% {
    height: 10px;
    top: -5px;
  }
  45%, 55% {
    height: 80px;
    top: -37px;
  }
}
@keyframes piece-2 {
  0%, 10%, 90%, 100% {
    height: 10px;
    top: -5px;
  }
  45%, 55% {
    height: 80px;
    top: -37px;
  }
}
@-webkit-keyframes piece-1 {
  0%, 10%, 90%, 100% {
    height: 10px;
    top: -5px;
  }
  45%, 55% {
    height: 60px;
    top: -31px;
  }
}
@keyframes piece-1 {
  0%, 10%, 90%, 100% {
    height: 10px;
    top: -5px;
  }
  45%, 55% {
    height: 60px;
    top: -31px;
  }
}
@-webkit-keyframes piece-0 {
  0%, 10%, 90%, 100% {
    height: 10px;
    top: -5px;
  }
  45%, 55% {
    height: 30px;
    top: -15px;
  }
}
@keyframes piece-0 {
  0%, 10%, 90%, 100% {
    height: 10px;
    top: -5px;
  }
  45%, 55% {
    height: 30px;
    top: -15px;
  }
}
