$boder-color: #e5e5e5;

.a-text,
textarea,
input[type=text],
input[type=password],
input[type=file],
input[type=number] {
  box-sizing: border-box;
  padding: .5em .75em;
  font-size: 12px;
  line-height: 14px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  outline: 0;

  &:disabled {
    background-color: $boder-color;
  }
  &:focus {
    border: 1px solid #333;
  }
}

.a-input-number {
  display: inline-block;
  vertical-align: middle;
}

