$boder-color: #e5e5e5;

.a-text,
textarea,
input[type=text],
input[type=password],
input[type=file],
input[type=number] {
  box-sizing: border-box;
  padding: 6px 8px 5px 8px;
  font-size: 11px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  outline: 0;

  &:disabled {
    background-color: $boder-color;
  }
  &:focus {
    border: 1px solid #333;
  }
}

