$boder-color: #eee;
.a-text,
textarea,
input[type=text],
input[type=password],
input[type=file],
input[type=number] {
  box-sizing: border-box;
  padding: .5em .75em;
  font-size: 12px;
  line-height: 14px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: 0;
  &:disabled {
    background-color: $boder-color;
  }
  &:read-only {
    background-color: $boder-color;
  }
  &[readonly] {
    background-color: $boder-color;
  }
  &:focus {
    border: 1px solid $g-brand-primary;
  }

  // For IE
  &[readonly] {
    background-color: $boder-color;
  }
}

input::-ms-clear {
  display: none;
}
// For Firefox
input[required]:invalid,
input:focus:invalid,
textarea[required]:invalid,
textarea:focus:invalid {
  box-shadow: none;
}
