//
// Progress animations
//

@mixin progress-variant($color) {
  &[value]::-webkit-progress-value {
    background-color: $color;
  }

  &[value]::-moz-progress-bar {
    background-color: $color;
  }

  // IE10+, Microsoft Edge
  &[value]::-ms-fill {
    background-color: $color;
  }

  // IE9
  @media screen and (min-width:0\0) {
    .a-progress-bar {
      background-color: $color;
    }
  }
}

@keyframes progress-bar-stripes {
  from { background-position: $g-distance-y 0; }
  to { background-position: 0 0; }
}

//
// Basic progress bar
//
.a-progress-wrap {
  position: relative;

  .a-progress-text {
    position: absolute;
    width: 100%;
    line-height: 1rem;
    text-align: center;
    left: 0;
    top: 50%;
    margin-top: -0.5rem;
    color: #000;
  }
}
.a-progress {
  display: block;
  width: 100%;
  height: $g-distance-y; // todo: make a new var for this
  //margin-bottom: $g-distance-y;
  overflow: hidden; // force rounded corners by cropping it
}

.a-progress[value] {
  // Set overall background
  background-color: $a-progress-bg;
  // Remove Firefox and Opera border
  border: 0;
  // Reset the default appearance
  appearance: none;
  // Set overall border radius
  @include border-radius($a-progress-border-radius);

  transition: all .2s ease-in-out;
}

// Filled-in portion of the bar
.a-progress[value]::-ms-fill {
  background-color: $a-progress-bar-color;
  // Remove right-hand border of value bar from IE10+/Edge
  border: 0;
}
.a-progress[value]::-moz-progress-bar {
  background-color: $a-progress-bar-color;
}
.a-progress[value]::-webkit-progress-value {
  background-color: $a-progress-bar-color;
}

// Unfilled portion of the bar
.a-progress[value]::-webkit-progress-bar {
  background-color: $a-progress-bg;
  @include box-shadow($a-progress-box-shadow);
}
base::-moz-progress-bar, // Absurd-but-syntactically-valid selector to make these styles Firefox-only
.a-progress[value] {
  background-color: $a-progress-bg;
  @include box-shadow($a-progress-box-shadow);
}

// IE9 hacks to accompany custom markup. We don't need to scope this via media queries, but I feel better doing it anyway.
@media screen and (min-width:0\0) {
  .a-progress {
    background-color: $a-progress-bg;
    @include border-radius($a-progress-border-radius);
    @include box-shadow($a-progress-box-shadow);
  }
  .a-progress-bar {
    display: inline-block;
    height: $g-distance-y;
    text-indent: -999rem; // Simulate hiding of value as in native `<progress>`
    background-color: $a-progress-bar-color;
  }
}


//
// Striped
//

.a-progress--striped[value]::-webkit-progress-value {
  @include gradient-striped();
  background-size: $g-distance-y $g-distance-y;
}
.a-progress--striped[value]::-moz-progress-bar {
  @include gradient-striped();
  background-size: $g-distance-y $g-distance-y;
}
.a-progress--striped[value]::-ms-fill {
  @include gradient-striped();
  background-size: $g-distance-y $g-distance-y;
}
// IE9
@media screen and (min-width:0\0) {
  .a-progress-bar--striped {
    @include gradient-striped();
    background-size: $g-distance-y $g-distance-y;
  }
}


//
// Animated
//

.a-progress--animated[value]::-webkit-progress-value {
  animation: progress-bar-stripes 2s linear infinite;
}
.a-progress--animated[value]::-moz-progress-bar {
  animation: progress-bar-stripes 2s linear infinite;
}
// IE9
@media screen and (min-width:0\0) {
  .a-progress--animated .a-progress-bar--striped {
    animation: progress-bar-stripes 2s linear infinite;
  }
}


//
// Variations
//
.a-progress--success {
  @include progress-variant($g-brand-success);
}
.a-progress--info {
  @include progress-variant($g-brand-info);
}
.a-progress--warning {
  @include progress-variant($g-brand-warning);
}
.a-progress--danger {
  @include progress-variant($g-brand-danger);
}
