.a-password {
  position: relative;
  display: inline-block;

  input[type=password],
  input[type=text] {
    padding-right: 25px;
  }

  .a-password__icon {
    position: absolute;
    top: 50%;
    right: 8px;
    color: #0093dd;
    margin-top: -6px;
    text-align: center;

    &.a-password__icon--hidden {
      color: #666;
    }
  }

  &.a-password--block {
    display: block;
  }
}
