// Fade
.fade-enter {
  opacity: 0;
  transition: opacity .5s ease-in;

  &.fade-enter-active {
    opacity: 1;
  }
}
.fade-leave {
  opacity: 1;

  transition: opacity .5s ease-in;

  &.fade-leave-active {
    opacity: 0;
  }
}

// Fade Down
.fade-down-enter {
  opacity: 0;
  margin-top: -30px;
  transition: margin-top .5s ease-in-out, opacity .5s ease-in-out;

  &.fade-down-enter-active {
    opacity: 1;
    margin-top: 0;
  }
}
.fade-down-leave {
  opacity: 1;
  transition: opacity .5s ease-in;

  &.fade-down-leave-active {
    opacity: 0;
  }
}

// Fade Up
.fade-up-enter {
  opacity: 0;
  margin-top: 10px;
  transition: margin-top .5s ease-in, opacity .5s ease-in;

  &.fade-up-enter-active {
    opacity: 1;
    margin-top: 0px;
  }
}
.fade-up-leave {
  opacity: 1;
  transition: opacity .3s ease-in;

  &.fade-up-leave-active {
    opacity: 0;
  }
}

