// Fade
.fade-enter {
  opacity: 0;
  transition: opacity .5s ease-in;

  &.fade-enter-active {
    opacity: 1;
  }
}
.fade-exit {
  opacity: 1;

  transition: opacity .5s ease-in;

  &.fade-exit-active {
    opacity: 0;
  }
}

// Fade Down
.fade-down-enter {
  opacity: 0;
  transform: translate(0, -50px);
  //transform: scale(0, 0);
  transition: opacity .3s ease-in-out, transform  .5s ease-in-out;

  &.fade-down-enter-active {
    opacity: 1;
    //transform: scale(1, 1);
    transform: translate(0, 0);
  }
}
.fade-down-exit {
  opacity: 1;
  transform: translate(0, 0);
  transition: opacity .5s ease-in-out, transform  .3s ease-in-out;

  &.fade-down-exit-active {
    opacity: 0;
    transform: translate(0, -50px);
  }
}

// Fade Up
.fade-up-enter {
  opacity: 0;
  margin-top: 10px;
  transition: margin-top .5s ease-in, opacity .5s ease-in;

  &.fade-up-enter-active {
    opacity: 1;
    margin-top: 0px;
  }
}
.fade-up-exit {
  opacity: 1;
  transition: opacity .3s ease-in;

  &.fade-up-exit-active {
    opacity: 0;
  }
}

// zoom top right
.zoom-top-right-enter {
  transform: translate(50%, -50%) scale(.1, .1) ;
  transition: transform .5s ease-in-out;

  &.zoom-top-right-enter-active {
    transform: translate(0, 0) scale(1, 1);
  }
}
.zoom-top-right-exit {
  transform: translate(0, 0) scale(1, 1);
  transition: transform .3s ease-in-out;

  &.zoom-top-right-exit-active {
    transform: translate(50%, -50%) scale(0, 0);
  }
}

// slide-left
.slide-left-enter {
  transform: translateX(100%);
  transition: transform .4s ease-in-out;

  &.slide-left-enter-active {
    transform: translateX(0);
  }
}
.slide-left-exit {
  transform: translateX(0);
  transition: transform .1s ease-in-out;

  &.slide-left-exit-active {
    transform: translateX(-100%);
  }
}

.slide-right-enter {
  transform: translateX(-100%);
  transition: transform .4s ease-in-out;

  &.slide-right-enter-active {
    transform: translateX(0);
  }
}
.slide-right-exit {
  transform: translateX(0);
  transition: transform .1s ease-in-out;

  &.slide-right-exit-active {
    transform: translateX(100%);
  }
}

