/* Sass utils */
@import "../../scss/variables";
@import "../../scss/mixins";

.rw-tooltip {
  position: absolute;
  z-index: 2500;
  display: block;
  visibility: visible;
  line-height: 1.5;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1px;

  &-hidden {
    display: none;
  }

  &-inner {
    padding: $g-distance-min;
    color: #333333;
    text-align: left;
    text-decoration: none;
    background-color: #ffffff;
    min-height: 34px;
    border: 1px solid #fff;
    background-clip: padding-box;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .3);
  }

  &-arrow,
  &-arrow-inner {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }

  &-arrow {
    filter: drop-shadow(0px 3px 2px #bbb);
  }

  /*********
   tooltip arrow 位置相关样式
  */

  // Top-* and Bottom-*
  &-placement-top,
  &-placement-topLeft,
  &-placement-topRight {
    .rw-tooltip-arrow {
      bottom: -5px;
      margin-left: -6px;
      border-width: 6px 6px 0;
      border-top-color: #fff;
    }
    .rw-tooltip-arrow-inner {
      bottom: 1px;
      margin-left: -6px;
      border-width: 6px 6px 0;
      border-top-color: #ffffff;
    }
  }
  &-placement-top {
    .rw-tooltip-arrow {
      left: 50%;
    }
  }
  &-placement-topLeft {
    .rw-tooltip-arrow {
      left: 15%;
    }
  }
  &-placement-topRight {
    .rw-tooltip-arrow {
      right: 15%;
    }
  }
  &-placement-bottom,
  &-placement-bottomLeft,
  &-placement-bottomRight {
    .rw-tooltip-arrow {
      top: -5px;
      margin-left: -6px;
      border-width: 0 6px 6px;
      border-bottom-color: #fff;
    }
    .rw-tooltip-arrow-inner {
      top: 1px;
      margin-left: -6px;
      border-width: 0 6px 6px;
      border-bottom-color: #ffffff;
    }
  }
  &-placement-top,
  &-placement-bottom {
    .rw-tooltip-arrow {
      left: 50%;
    }
  }
  &-placement-topLeft,
  &-placement-bottomLeft {
    .rw-tooltip-arrow {
      left: 15%;
    }
  }
  &-placement-topRight,
  &-placement-bottomRight {
    .rw-tooltip-arrow {
      right: 15%;
    }
  }

  // 位置为 Left-* and Right-*
  &-placement-right,
  &-placement-rightTop,
  &-placement-rightBottom {
    .rw-tooltip-arrow {
      left: -5px;
      margin-top: -6px;
      border-width: 6px 6px 6px 0;
      border-right-color: #fff;
    }
    .rw-tooltip-arrow-inner {
      left: 1px;
      margin-top: -6px;
      border-width: 6px 6px 6px 0;
      border-right-color: #ffffff;
    }
  }

  &-placement-left,
  &-placement-leftTop,
  &-placement-leftBottom {
    .rw-tooltip-arrow {
      right: -5px;
      margin-top: -6px;
      border-width: 6px 0 6px 6px;
      border-left-color: #fff;
    }
    .rw-tooltip-arrow-inner {
      right: 1px;
      margin-top: -6px;
      border-width: 6px 0 6px 6px;
      border-left-color: #ffffff;
    }
  }
  &-placement-right,
  &-placement-left {
    .rw-tooltip-arrow {
      top: 50%;
    }
  }
  &-placement-rightTop,
  &-placement-leftTop {
    .rw-tooltip-arrow {
      top: 15%;
    }
  }
  &-placement-rightBottom,
  &-placement-leftBottom {
    .rw-tooltip-arrow {
      bottom: 15%;
    }
  }

  /******************
   * 动画
   */
  &-zoom-enter,
  &-zoom-appear,
  &-zoom-leave {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-play-state: paused;
  }
  &-zoom-enter {
    opacity: 0;
    &.rw-tooltip-zoom-enter-active {
      -webkit-animation-name: rcToolTipZoomIn;
      animation-name: rcToolTipZoomIn;
    -webkit-animation-play-state: running;
      animation-play-state: running;
    }
  }

  &-zoom-appear {
    opacity: 0;
    .rw-tooltip-zoom-appear-active {
      -webkit-animation-name: rcToolTipZoomIn;
        animation-name: rcToolTipZoomIn;
    -webkit-animation-play-state: running;
        animation-play-state: running;
    }
  }

  &.rw-tooltip-zoom-enter,
  &.rw-tooltip-zoom-leave {
    display: block;
    transition: filter .15s ease-in;
    filter: drop-shadow(0px 0px 0px #bbb);
  }


  /******************
   * theme
   */
  &--dark {
    .rw-tooltip-inner {
      background-color: #111;
      color: #fff;
      border: 1px solid #111;
    }
  }
}

.rw-tooltip-zoom-enter.rw-tooltip-zoom-enter-active,
.rw-tooltip-zoom-appear.rw-tooltip-zoom-appear-active {
  -webkit-animation-name: rcToolTipZoomIn;
          animation-name: rcToolTipZoomIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.rw-tooltip-zoom-leave.rw-tooltip-zoom-leave-active {
  -webkit-animation-name: rcToolTipZoomOut;
          animation-name: rcToolTipZoomOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@-webkit-keyframes rcToolTipZoomIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(.8, .8);
            transform: scale(.8, .8);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes rcToolTipZoomIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(.8, .8);
            transform: scale(.8, .8);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@-webkit-keyframes rcToolTipZoomOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(.8, .8);
            transform: scale(.8, .8);
  }
}
@keyframes rcToolTipZoomOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(.8, .8);
            transform: scale(.8, .8);
  }
}
