@import 'variables';

.m-breadcrumb {
  .m-breadcrumb__link {
    position: relative;
    display: block;
    padding: 0 5px;
    padding-left: 25px;
    color: #fff;
    background-color: $g-gray-light;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      height: 0;
      margin-right: -16px;
      content: '';
      border-color: transparent transparent transparent $g-gray-light;
      border-style: solid;
      border-width: 18px 16px;
      border-right: none;
    }
    .Select {
      line-height: 28px;
    }
  }

  li {
    float: right;

    &:nth-child(odd) {
      .m-breadcrumb__link {
        background-color: #888;

        &::after {
          border-color: transparent transparent transparent #888;
        }
      }
    }
    &:last-child {
      .m-breadcrumb__link {
        padding-left: 15px;
      }
    }
  }

  &.m-breadcrumb--simple {
    .m-breadcrumb__link {
      position: relative;
      display: block;
      padding: 0 5px;
      padding-left: 30px;
      font-size: $g-distance * 1;
      color: neutral-color('darker');
      background-color: transparent;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        height: 0;
        margin-right: -16px;
        color: #ccc;
        content: '/';
        border: 0;
      }
    }

    li {
      &:nth-child(odd) {
        .m-breadcrumb__link {
          background-color: transparent;
        }
      }
      &:first-child {
        .m-breadcrumb__link {
          color: $g-brand-color;
          text-shadow: 1px 1px 0 #fff;

          &::after {
            display: none;
          }
        }
      }
    }
  }
}

// 针对不同厂商不同配置
@each $color, $value in $brand-colors {
  @if $color {
    .app-#{$color} {
      .m-breadcrumb.m-breadcrumb--simple {
         li {
            &:first-child {
              .m-breadcrumb__link {
                color: $value;
              }
            }
         }
      }
    }
  }
}
