.m-breadcrumb {
  li {
    float: right;

    &:nth-child(odd) {
      .m-breadcrumb__link {
        background-color: #888;

        &::after {
          border-color: transparent transparent transparent #888;
        }
      }
    }
  }
  .m-breadcrumb__link {
    display: block;
    padding: 0 5px;
    background-color: #777;
    padding-left: 25px;
    color: #fff;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      margin-right: -16px;
      height: 0;
      border-width: 18px 16px;
      border-color: transparent transparent transparent #777;
      border-style: solid;
      border-right: none;
    }
  }
}
