$boder-color:         #ccc;

.form-group {
  margin-bottom: 12px;
  @include clearfix;

  label[for] {
    user-select: none;
    cursor: pointer;
  }
  .a-btn {
    margin-right: 12px;
  }

  &.form-group--save {
    padding-top: 12px;
    border-top: 1px solid $boder-color;
  }

  &.form-group--error {
    .form-control {
      .a-password__input,
      textarea.text,
      input.text {
        border: 1px solid $g-brand-danger;
      }
    }
  }

  &.form-group--inline {
    display: inline-block;
    margin-left: 24px;
    > label {
      min-width: auto;
      margin-right: 12px;
    }
    .form-control {
      float: left;
      margin-left: 0;
    }
  }

  > label {
    float: left;
    margin-right: 15px;
    min-width: 150px;
    color: #777;
    text-align: right;
    line-height: 30px;
  }

  .a-btn {
    line-height: 1.2;
  }

  .input-sm {
    width: 80px;
  }

  .form-control {
    margin-left: 165px;
    color: #333;

    > .plain-text {
      line-height: 30px;
    }

    .text {
      width: 200px;
      line-height: 16px;
      vertical-align: middle;
      margin-right: 5px;

      &:focus {
        border: 1px solid $g-brand-info;
      }
    }

    .a-checkbox {
      float: left;
      margin-top: 8px;
    }
    .a-password__input {
      line-height: 16px;
    }
    .m-switch {
      margin-left: 0;
    }
  }

  .help {
    display: inline-block;
    margin-left: 5px;
    color: #999;
    font-size: 12px;
    line-height: 20px;
    vertical-align: middle;
  }
  .error {
    display: inline-block;
    color: $g-brand-danger;
    margin-top: 7px;
    vertical-align: top;
    font-size: 12px;
    line-height: 16px;
  }
  .checkbox {
    margin-right: 6px;
    color: #999;
    font-size: 12px;
    line-height: 30px;
  }
}

.msg-error {
  color: $g-brand-danger;
}

.form-footer {
  margin-top: 20px;
}

.table {
  td,
  th {
    > .form-group {
      margin-bottom: 0;
    }
    .form-control {
      margin-left: 0;
      .text {
        width: auto;
      }
      .a-password {
        .text {
          width: 100%;
        }
      }
      .a-checkbox {
        margin-top: 0;
      }
    }
  }
}
.en {
  .form-group {
    > label {
      min-width: 165px;
    }

    .form-control {
      margin-left: 180px;
    }

    &.form-group--block {
      > label,
      .error {
        display: block,
      }
      .form-control {
        margin-left: 0;
      }
    }
  }
}
