.m-switch {
  display: inline-block;
  margin: 0 5px;
  line-height: 20px;
  border: 1px solid #666;
  border-radius: 3px;

  .m-switch__item {
    padding: 4px 12px;
    font-size: 12px;
    line-height: $g-line-height;
    color: #666;
    background-color: transparent;
    border: none;
    border-right: 1px solid #666;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: #333;
    }
    &:last-child {
      border-right: none;
    }
    &.active {
      color: #fff;
      background-color: #666;
    }
  }
}
