.m-switch {
  display: inline-block;
  margin: 0 5px;
  line-height: 1;
  border: 1px solid #1d2531;
  border-radius: 3px;
  white-space:nowrap;
  max-width: 100%;
  text-overflow: ellipsis;

  .m-switch__item {
    padding: 6px 12px;
    overflow: hidden;
    font-size: 12px;
    line-height: 14px;
    color: #666;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-right: 1px solid #666;

    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: #333;
    }
    &:last-child {
      border-right: none;
    }
    &.active {
      color: #fff;
      background-color: #1d2531;
    }
  }

  &.m-switch--sm {
    border-radius: 2px;

    .m-switch__item {
      padding: 2px 9px;
      font-size: 10px;
    }
  }

  &.m-switch--disabled {
    .m-switch__item {
      cursor: not-allowed;
    }
  }
}
