.m-switch {
  display: inline-block;
  margin: 0 5px;

  .a-switch__item {
    padding: 4px 12px;
    font-size: 12px;
    text-shadow: 1px 1px 0 rgba(255,255,255, .4);
    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: #333;
    }
    &:last-child {
      border-right: none;
    }
    &.active {
      background-color: #c5c5c5;
      background-image: linear-gradient(#cbcbcb,#c5c5c5);
      box-shadow: inset 1px -1px 1px 0 rgba(255,255,255,.4),inset 1px 1px 1px 0 rgba(0,0,0,.2);
    }
  }
}
