.Icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 16px;
}

.Icon-block {
  display: block;
  margin: 0 auto;
}

.Icon-wifi-nopass-0 {
  background-image: url(images/icons/icon_wifi_nopass_0.png);
}
.Icon-wifi-nopass-1 {
  background-image: url(images/icons/icon_wifi_nopass_1.png);
}
.Icon-wifi-nopass-2 {
  background-image: url(images/icons/icon_wifi_nopass_2.png);
}
.Icon-wifi-nopass-3 {
  background-image: url(images/icons/icon_wifi_nopass_3.png);
}

.Icon-wifi-pass-0 {
  background-image: url(images/icons/icon_wifi_pass_0.png);
}
.Icon-wifi-pass-1 {
  background-image: url(images/icons/icon_wifi_pass_1.png);
}
.Icon-wifi-pass-2 {
  background-image: url(images/icons/icon_wifi_pass_2.png);
}
.Icon-wifi-pass-3 {
  background-image: url(images/icons/icon_wifi_pass_3.png);
}
