$top-distance: $g-navbar-height + ($g-distance * 2);
$sidebar-width: $g-distance * 11;
$nav-text-color: #ababab;
$main-blue: #0093dd;
$t-main-top-menu-size: $g-distance * 4.75;
$t-main-nav-size: $g-distance * 11;
html,
body {
  height: 100%;
  background: #edf4fd;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #edf4fd 100%);
}

body {
  min-height: 100%;
  @include scrollbar();
  &.fixed {
    overflow: hidden;
  }
}

.app-wrap {
  min-width: $mw-lg;
  min-height: 100%;
  padding-top: $top-distance;
}

.t-main {
  padding: $g-distance;
  padding-left: 0;
  overflow: auto;
  .t-main__nav {
    position: fixed;
    top: $g-navbar-height;
    bottom: 0;
    left: 0;
    z-index: 1502;
    width: $sidebar-width;
    background: $g-main-color;
    transition: left .3s ease-in;
    &.o-nav--tree {
      width: $t-main-nav-size;
    }
  }
  .t-main__content {
    position: absolute;
    top: $g-navbar-height + ($g-distance * 0.25);
    bottom: 0;
    left: $sidebar-width;
    width: calc(100vw - 176px);
    max-width: calc(100vw - 176px);
    padding: $g-distance * 0.75;
    overflow: auto;
    transition: left .4s ease-in-out, max-width .4s ease-in-out;
    @include scrollbar();

    > * {
      min-width: 680px;
    }
    h2,
    .t-main__content-title {
      margin-bottom: .4em;
      font-size: 1.214em;
    }
  }
  &.t-main--axc {
    overflow: hidden;
    .t-main__nav {
      top: $g-navbar-height;
      left: $t-main-top-menu-size;
      width: $t-main-nav-size;
      max-width: $t-main-nav-size;
      background-color: #141a23;
      color: #fff;
      z-index: 1502;
      overflow: hidden;
      overflow-y: auto;
      transition: max-width .2s ease-in-out, overflow-y .2s ease-in-out;

      @include scrollbar();

      > h4 {
        font-size: .875rem;
        list-style: 1;
        color: $g-brand-primary;
        text-shadow: 1px 1px 1px #000;
        padding: 4px 10px;
        margin-bottom: 8px;

        > span {
          color: #666;
        }
      }
      .m-menu__link {
        background-color: #141a23;
        transition: background-color .2s ease-in-out;

        &:hover {
          background-color: lighten(#141a23, 8%)
        }
      }

      .o-nav__link {
        padding: 10px 0;
        padding-left: $g-distance * 1.125;
        font-size: 12px;
        .o-nav__link-avatar {
          font-size: 15px;
          line-height: ($g-distance * 1.25);
        }
        &.active {
          .o-nav__link-avatar {
            color: #fff;
          }
        }
      }
      .a-leaf-link {
        &.active {
          background-color: $g-brand-primary;
          text-shadow: 1px 1px 1px #141a23;
        }
      }
      .o-nav__sub-menus {
        .o-nav__link {
          padding-left: 45px;
        }
      }
    }
    .t-main__nav-toggle {
      position: absolute;
      left: 252px;
      top: 50%;
      padding: 26px 3px;
      padding-left: 2px;
      color: #ababab;
      font-size: 14px;
      background-color: #141a23;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
      cursor: pointer;
      z-index: 1;

      .icon {
        transition: transform .2s ease-in-out;
      }

      &:hover {
        color: #fff;
      }
    }

    .t-main__asider-top {
      position: relative;
      margin-top: 40px;
      max-height: 0;
      overflow-x: hidden;
      transition: max-height .4s ease-in-out;
      background-color: #141a23;
      border-bottom: 1px solid lighten(#141a23, 10%);

      @include scrollbar();

      .m-menu__link {
        background-color: #141a23;

        &.active {
          color: $g-brand-primary;
        }
      }

      > header {
        position: fixed;
        top: $g-navbar-height;
        left: $t-main-top-menu-size;
        width: $t-main-nav-size;
        z-index: 1502;
        background-color: #141a23;
        padding: 8px 10px;

        > h3 {
          margin-bottom: 0;
          color: #666;
          padding: 2px 0;
        }
      }

      .toggle-bar {
        position: absolute;
        right: $g-distance * .75;
        top: 50%;
        margin-top: -.625rem;
        text-align: center;
        cursor: pointer;
        width: 1.25rem;
        height: 1.25rem;
        border: 1px solid $g-brand-primary;
        border-radius: 10px;
        text-shadow: 1px 1px 1px #000;

        .icon {
          color: $g-brand-primary;
          font-size: .75rem;
          line-height: .75rem;
          transition: transform .4s ease-in-out;
        }
      }
    }
    .t-main__content {
      top: $g-navbar-height + $g-main-bar-height + ($g-distance * 0.25);
      bottom: 0;
      left: $sidebar-width + $t-main-top-menu-size;
      width: 100vw;
      max-width: calc(100vw - 15.75rem);
      padding-top: 2px;
    }
    .t-main__asider-left {
      top: $g-navbar-height + $g-main-bar-height;
      left: $t-main-top-menu-size;
      width: $sidebar-width + ($g-distance * 1.25);
    }
    .o-property-panel {
      top: $g-navbar-height;
    }
    .o-top-menu-bar {
      position: fixed;
      top: $g-navbar-height;
      bottom: 0;
      z-index: 1502;
      width: $t-main-top-menu-size;
      background-color: #1d2531;
      a {
        position: relative;
        display: block;
        padding: 11px 0;
        color: #ababab;
        text-align: center;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        font-size: $g-distance * 0.75;
        .icon {
          font-size: ($g-distance * 2);
          margin-bottom: 4px;
        }
        &::after {
          position: absolute;
          content: '';
          display: block;
          top: 50%;
          margin-top: -12px;
          right: 0;
          border-color: transparent #141a23 transparent transparent;
          border-style: solid;
          border-width: 6px 12px;
          opacity: 0;
          transition: opacity .3s ease-in-out;
        }
        &.active {
          color: $g-brand-primary;
          text-shadow: 1px 1px 1px #000;

          &::after {
            opacity: 1;
          }
        }
      }
    }
    .o-menu-bar {
      left: $t-main-top-menu-size + $sidebar-width;
      transition: left .2s ease-in-out;
    }
    &.is-main-right-open {
      .t-main__content {
        max-width: calc(100vw - 617px);
      }
    }
    &.is-main-nav-hidden {
      .t-main__nav {
        max-width: 0;
        overflow-y: hidden;
      }
      .t-main__nav-toggle {
        left: $t-main-top-menu-size;

        .icon {
          transform: rotate(180deg);
        }
      }
      .o-menu-bar {
        left: $t-main-top-menu-size;
      }
      .t-main__asider-top {
        > header {
          position: absolute;
        }
      }
      .t-main__content {
        left: $t-main-top-menu-size;
        max-width: calc(100vw - 4.75rem);
      }
      &.is-main-right-open {
        .t-main__content {
          max-width: calc(100vw - 441px);
        }
      }
    }
  }
  &.main--open-left {
    .t-main__nav {
      overflow-y: hidden;
    }
    .t-main__asider-top {
      max-height: calc(100vh - 170px);
      overflow-y: auto;

      .toggle-bar {
        .icon {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.t-main__asider-left {
  position: absolute;
  top: $g-navbar-height + $g-main-bar-height + $t-main-top-menu-size;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 170px;
  overflow-y: auto;
  overflow-x: hidden;
  color: #fff;
  background: #222;
  padding-bottom: 60px;

  @include scrollbar();
}

.t-main__asider-header {
  padding: 8px 18px;
  line-height: ($g-distance * 1.25);

  .icon {
    line-height: ($g-distance * 1.25);
    width: $g-distance;
    color: $g-brand-primary;
    font-size: 1rem;
    cursor: pointer;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    height: 0;
    content: '';
    border-color: transparent #444 transparent transparent;
    border-style: solid;
    border-width: 26px 16px;
  }
}

.t-main__asider-footer {
  position: static;
  bottom: 0;
  width: 100%;
  padding: 0 18px;
  width: $sidebar-width;
  margin-left: 1px;
  text-align: center;

  .icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
    color: $g-brand-primary;
    line-height: 24px;
    text-align: center;
    transition: transform .3s ease-in-out;
    text-shadow: 1px 1px 1px #000;

    &:hover {
      transform: rotate(90deg);
    }
  }
}
