$g-navbar-height: 60px;
$top-distance: $g-navbar-height + $g-distance * 2;
$sidebar-width: 170px;
$nav-text-color: #ababab;
$main-blue: #0093dd;

html,
body {
  height: 100%;
}

body {
  min-height: 100%;
}

.app-wrap {
  min-width: $mw-lg;
  min-height: 100%;
  padding-top: $top-distance;
}

.t-main {
  padding: $g-distance;
  padding-left: 0;
  overflow: auto;

  &.t-main--ac {
    .t-main__nav {
      top: $g-navbar-height + $g-main-bar-height;
    }
    .t-main__content {
      top: $top-distance + $g-main-bar-height;
    }
  }
}
.t-main__nav {
  position: fixed;
  top: $g-navbar-height;
  bottom: 0;
  z-index: 1000;
  width: $sidebar-width;
  background: #333;
}
.t-main__content {
  position: absolute;
  top: $top-distance;
  right: 0;
  bottom: $g-distance;
  left: $sidebar-width + 10px;
  min-width: 1024px - 200px;
  padding: 0 $g-distance;

  h2,
  .t-main__content-title {
    margin-bottom: 20px;
  }
}
