$main-blue: #0093dd;

.t-wizard {
  margin: 10px auto;
  margin-top: 4em;
  padding: 1em 3em;
  width: 880px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 8px 0 rgba(0,0,0,0.3);

  h2 {
    margin-bottom: .6em;
    color: $g-main-color;
    text-align: center;
    font-weight: 300;
    font-size: 2.4em;
  }

  h3 {
    font-weight: 300;
  }

  p {
    margin-bottom: .8em;
  }

  .t-wizard__header {
    margin-top: 60px;

    ul {
      @include clearfix;
      padding-bottom: 20px;
    }
    li {
      position: relative;
      float: left;
      width: 33%;
      color: #ccc;
      text-align: center;
      font-size: 1.4em;
      padding-top: 50px;
      border-top: 4px solid #ccc;
      transition: border-top .3s ease-in-out,
                  color .3s ease-in-out;

      &:first-child {
        .icon {
          left: 10px;
          padding-left: 50%;
          margin-left: -42px;
        }
      }

      &:last-child {
        .icon {
          right: 0;
          padding-right: 50%;
        }
      }

      .icon {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 50%;
        margin-left: -62px;
        margin-top: -42px;
        padding: 0 20px;
        background: #fff;
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        &::before {
          display: inline-block;
          content: "\F111";
          width: 80px;
          height: 80px;
          border: 4px solid transparent;
          border-radius: 50px;
          padding-top: 10px;
          font-size: 50px;
          transition: border .3s ease-in-out;
        }

      }

      &.completed {
        color: $g-brand-success;
        @include opacity(1);
        border-top-color: $g-brand-success;

        .icon {
          &::before {
            border: 4px solid $g-brand-success;
            content: "\F00C";
          }
        }
      }
      &.active {
        color: $g-main-color;
        border-top-color: $g-main-color;
        @include opacity(1);

        .icon {
          &::before {
            border: 4px solid $g-main-color;
            content: "\F0C9";
          }
        }
      }
    }
  }
  .t-wizard__content {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 30px 0;
  }
  .t-wizard__footer {
    padding: 20px 0;
    text-align: right;

    .a-btn--info {
      background-color: $main-blue;
      background-image: none;
      color: #fff;
      margin-left: 10px;
    }
  }

  .form-group {

    > label {
      text-align: left;
      float: none;
    }
  }
  .form-control {
    margin: 0;
    color: #000;

    .a-password__input,
    .text {
      padding: 4px 12px;
      width: 100%;
      height: 40px;
      border: 1px solid #ccc;
      background-color: #fff;
      background-image: none;
      color: #555;
      font-size: 14px;
      line-height: 1.42857143;
      transition: border-bottom-color ease-in-out .15s, box-shadow ease-in-out .15s;

      &:focus {
        border: 1px solid #ccc;
        border-bottom-color: $main-blue;
      }
    }
    .a-password {
      display: block;
      padding: 0;
      border: 0;
    }
  }

  .cols-first {
    padding-right: 20px;
  }

  .Select {
    width: 100%;
    max-width: 100%;
  }
}

.en .t-wizard {
  .form-control {
    margin: 0;
  }
}
