.m-action-bar--form {
  padding: 10px 0;
  margin-top: 10px;
  .form-group > label {
     min-width: 65px;
  }
  .form-group .form-control {
      margin-left: 100px;
  }
}


.o-map-container {
  .icon {
    &.client {
      transition: transform .2s ease-in-out;

      &:hover {
        transform: scale(1.2, 1.2);
      }
    }
  }
}

.icon-with-tooltip .tooltip-text {
  visibility: hidden;
  color: white;
  background-color: black;
  width: 120px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0px;
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  z-index: 100;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.icon-with-tooltip:hover .tooltip-text {
  visibility: visible;
}
