{
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": false
      }
    ]
  },
  "globals": {
    "sinon": true,
    "AssertionError": true,
    "expect": true,
    "Assertion": true,
    "assert": true,
    "describe": true,
    "it": true
  }
}
