.Stats {
  padding-bottom: 10px;
}
.stats-group {
  header {
    border-bottom: 1px solid #ccc;
    
    &.stats-group-cell {
      border-bottom: none;
    }
  }
  
  .link-more {
    line-height: 26px;
  }

  .stats-group-canvas {
    width: 240px;
    height: 240px;
    margin: 10px auto;
    float: left;
  }

  .stats-group-cell {
    padding: 8px 13px;
    border: 1px solid #dedede;
    border-collapse: collapse;
    overflow: auto;
  }
  .stats-group-header {
    padding: 8px 13px;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    overflow: hidden;
  }

  .stats-group-small {
    width: 33.3%;
    float: left;

    .stats-group-canvas {
      float: none;
    }
  }
  .stats-group-medium {
    width: 66.66%;
    float: left;
  }
  .stats-group-large {
    width: 100%;
    float: left;
  }
  
  .btn-group {
    margin-left: 13px;
  }
 
}
