.fr {
  float: right;
}
.fl {
  float: left;
}
.fn {
  float: none;
}

.clearfix {
  @include clearfix();
}

.none {
  display: none;
}

.link-text {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}