.fr {
  float: right;
}
.fl {
  float: left;
}
.fn {
  float: none;
}

.clearfix {
  @include clearfix();
}

.none {
  display: none;
}

.link-text {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.text-required {
  color: red;
}

.link-more {
  float: right;
  font-size: 12px;
  color: #1163f0;
  .icon {
    margin-left: 4px;
    font-size: 14px;
  }
}