/* Sass utils */
@import "../../scss/variables";
@import "../../scss/mixins";

.navbar {
  position: fixed;
  top: 0;
  z-index: 1501;
  width: 100%;
  height: $g-navbar-height;
  background: $g-main-color;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(222, 222, 222, 1);

  &.navbar--metro {
    box-shadow: none;
  }

  .version,
  > h1 {
    float: left;
    font-family: $g-font-family-base-en;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1rem;
    margin-top: 1.71rem;
    color: #333;
  }
  .version {
    font-size: 10px;
    margin-left: $g-distance / 2;
  }
  .brand {
    display: block;
    float: left;
    height: $g-navbar-height;
    width: auto;
    padding: 10px;
    // padding-left: 76px;
    line-height: 40px;
    color: #333;
    // background: url(images/logo.png) center no-repeat;
    background-size: 66px;

    .logo {
      display: inline-block;
      padding-right: 8px;
      margin-right: 8px;
      font-size: 16px;
    }
  }
  .aside {
    float: right;
  }
  .icon-user {
    padding: ($g-navbar-height / 8) ($g-navbar-height / 3);
    font-size: $g-navbar-height / 2;
    color: #999;
    vertical-align: middle;
    background-color: $g-main-color-light;
    transition: background .3s ease;
  }

  .icon-down {
    float: right;
    margin-left: 8px;
    font-size: 20px;
    line-height: $g-navbar-height * 0.75;
    transition: transform .3s ease;
  }

  .as-control {
    padding: ($g-navbar-height / 4) ($g-navbar-height / 4);;
    font-size: 12px;
    line-height: 0;
    float: left;
    color: #333;
    background-color: transparent;
    border: 0;
    transition: background .3s ease,color .3s ease;
    cursor: pointer;


    > span {
      float: left;
      line-height: $g-navbar-height / 2;
    }

    > .icon {
      float: left;
      margin-right: 4px;
      font-size: 20px;
      transition: transform .3s ease;
    }

    &:hover {
      //background-color: $g-main-color-light;
      color: #0093dd;

      .icon {
        transform: rotate(360deg)scale(1.1);
      }
    }

    &:active {
      @include opacity(.7);
    }
  }
  .user {
    display: inline-block;
    padding: ($g-navbar-height / 8) ($g-navbar-height / 4);

    //border-left: 1px solid $g-main-color-light;
    color: #333;
    vertical-align: middle;
    transition: background .3s ease,color .3s ease;

    &:hover {
      //background-color: $g-main-color-light;

      .icon-down {
        transform: rotate(360deg);
      }
    }
  }
}


