/* Sass utils */
@import "../../scss/variables";
@import "../../scss/mixins";
$g-navbar-height: 60px;

.navbar {
  position: fixed;
  top: 0;
  z-index: 1501;
  width: 100%;
  min-height: $g-navbar-height;
  background: $g-main-color;
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgba(50, 50, 50, .48);

  &.navbar--metro {
    box-shadow: none;
  }

  > h1 {
    float: left;
    font-family: $g-font-family-base-en;
    font-size: 1.4em;
    font-style: italic;
    font-weight: 500;
    line-height: $g-navbar-height;
    color: #333;
  }
  .version {
    margin-left: 12px;
    font-family: $g-font-family-base-en;
    font-size: 10px;
    line-height: $g-navbar-height;
  }
  .brand {
    display: block;
    float: left;
    height: $g-navbar-height;
    padding: 10px;
    padding-left: $g-size - 12px;
    padding-left: 85px;
    line-height: 40px;
    color: #333;
    background: url(images/logo.png) 25px center no-repeat;
    background-size: 60px;
    background-size: 60px;

    .logo {
      display: inline-block;
      padding-right: 8px;
      margin-right: 8px;
      font-size: 16px;
    }
  }
  .aside {
    float: right;
  }
  .icon-user {
    padding: 6px 20px;
    font-size: 28px;
    color: #999;
    vertical-align: middle;
    background-color: #333;
    transition: background .3s ease;
  }

  .icon-down {
    float: right;
    margin-left: 8px;
    font-size: 20px;
    line-height: 40px;
    transition: transform .3s ease;
  }

  .as-control {
    display: inline-block;
    padding: $g-distance $g-distance-md;
    font-size: 12px;
    font-style: italic;
    color: #333;
    vertical-align: middle;
    background-color: transparent;
    border: 0;
    transition: background .3s ease,color .3s ease;
    cursor: pointer;

    .icon {
      display: block;
      width: 18px;
      height: 18px;
      margin: 0 auto;
      margin-bottom: 5px;
      font-size: 20px;
      font-weight: 300;
      transition: transform .3s ease;
    }

    &:hover {
      //background-color: $g-main-color-light;
      color: #0093dd;

      .icon {
        transform: rotate(360deg)scale(1.1);
      }
    }

    &:active {
      @include opacity(.7);
    }
  }
  .user {
    display: inline-block;
    padding: $g-distance $g-distance-md;
    //border-left: 1px solid $g-main-color-light;
    color: #333;
    vertical-align: middle;
    transition: background .3s ease,color .3s ease;

    &:hover {
      //background-color: $g-main-color-light;

      .icon-down {
        transform: rotate(360deg);
      }
    }
  }
}
