.tablelink {
  margin-right: 5px;
  background-color: #e8e8e8;
  font-size: 12px;
  padding: 4px 8px;
  display: inline-block;
  line-height: 1;
  color: #666;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 3px;
  vertical-align: middle;
}


.web-login-icon {
  margin-right: 10px;
  font-size: 17px;
  color: #888;
}

.web-login-icon-form {
  margin: 0px 15px 15px 15px;
  font-size: 35px;
  color: #888;
}

// #logintypes {
//   margin-left: 140px;
// }

.dot-circle-o-active {
  color: rgb(140, 84, 223);
}

.user-active {
  color: #f67080;
}

.weixin-active {
  color: rgb(135, 199, 7);
}

.facebook-official-active {
  color: rgb(58, 88, 152);
}

.envelope-active {
  color: #eebe22;
}

.dot-circle-o.active {
  color: rgb(140, 84, 223);
}

.user.active {
  color: #f67080;
}

.weixin.active {
  color: rgb(135, 199, 7);
}

.facebook-official.active {
  color: rgb(58, 88, 152);
}

.envelope.active {
  color: #eebe22;
}
