.m-device {
  display: inline-block;
  width: 100%;
  line-height: 20px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;

  .m-device__avatar {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    cursor: move;
    background: url(images/online.png) center no-repeat;
    background-size: 30px;

    &.danger {
      background-image: url(images/offline.png);
      background-size: 30px;
    }
    // 锁定状态样式
    &.locked {
      cursor: pointer;
      &::before {
        position: absolute;
        top: -2px;
        right: -2px;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
        color: #777;
        content: "\F023";
        background-color: #fff;
        border-radius: 20px;
        padding: 2px 4px;

        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }
  .m-device__name {
    margin-left: 6px;
    line-height: 26px;
    user-select: none;
  }
  .m-device__btn {
    position: absolute;
    z-index: -1;
    color: #444;
    cursor: pointer;
    transition: all .3s ease-in-out;
    opacity: 0;

    &.close {
      color: #c23934;
    }
    &.lock {
      color: #0093dd;
    }
  }
  .icon {
    font-size: 28px;
  }

  &.m-device--open {
    .m-device__btn {
      z-index: 1;
      opacity: 1;
    }
  }
}

.m-device-coverage {
  position: absolute;
  margin-top: -35px;
  margin-left: -35px;
  // padding: 50px;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 80, from(green), to(#fff));
  background: -moz-radial-gradient(50% 50%, closest-corner, green,#fff);
  background: -webkit-radial-gradient(50% 50%, closest-corner, green,#fff);
  border-radius: 50px;
  //background: #ccc;
  opacity: .8;
}
.o-map-warp {
  position: absolute;
  top: 80px;
  right: 160px;
  bottom: 10px;
  left: 15px;
  min-height: 400px;
  overflow: hidden;
  border: 1px solid #d2d2d2;
  z-index: 100;

  .o-map-warp__build {
    h3 {
      margin-top: 12px;
      padding-left: 10px;
    }
  }

  .o-map-list__add {
    height: 208px;
    text-align: center;
    border: 1px solid #ccc;
    margin-top: 10px;
    line-height: 208px;
    color: #666;
    border-radius: 4px;
    cursor: pointer;
  }
  .m-thumbnail {
    margin: 10px 5px;
  }
  .m-thumbnail__content {
    position: relative;
    height: 160px;
    overflow: hidden;
    cursor: pointer;

    .m-device {
      position: absolute;
      z-index: 99;
      width: auto;
      border: 0;
    }
  }

  &.o-map-warp--list {
    overflow: auto;
  }
}


.o-map-container {
  position: absolute;
  cursor: url(images/openhand_8_8.cur) 8 8, default;
  background: url(images/map_bg.jpg);
  background-size: 100%;
  > img {
    width: 100%;
    visibility: hidden;
  }
  .m-device {
    position: absolute;
    width: auto;
    border: 0;
    z-index: 3;
  }
}
.o-map-zoom-bar {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 3;
  text-align: center;

  .o-map-zoom-bar__thmp {
    width: 40px;
    height: 27px;
    display: inline-block;
    line-height: 27px;
    vertical-align: middle;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    user-select: none;
  }
  .icon {
    line-height: 26px;
    width: 28px;
    cursor: pointer;
    font-size: 14px;
    vertical-align: middle;
    color: #444;
  }
}
.o-devices-list {
  position: absolute;
  top: 80px;
  bottom: 10px;
  right: 10px;
  width: 140px;
  border: 1px solid #ccc;

  .m-device {
    padding: .85em 1em;
  }
}
