//
// Button
// --------------------------------------------------

.btn {
  display: inline-block;
  padding: $g-distance-small $g-size-base * .6;
  font-size: $g-font-size-base;
  color: #666;
  text-decoration: none;
  background-color: #e8e8e8;
  background-image: linear-gradient(#e8e8e8,#e2e2e2);
  box-shadow: inset 1px 1px 0 0 rgba(255,255,255,0.7),inset -1px -1px 0 0 rgba(255,255,255,0.4),1px 1px 1px 0 rgba(50,50,50,0.1);
  border: none;
  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: $g-text-btn;
    text-decoration: none;
  }

  &:active {
    opacity: 0.8;
  }
}

.btn-block {
  display: block;
}

.btn-success {
  background-color: $g-brand-success;
}
.btn-info {
  background-color: $g-brand-info;
}
.btn-warning {
  background-color: $g-brand-warning;
}

.btn-group {
  display: inline-block;
  margin: 0 5px;
  
  .btn {
    padding: 4px 12px;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.4);
    font-size: 12px;
    
    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: #333;
    }
    
    &:last-child {
      border-right: none;
      
    }
    
    &.active {
      background-color: #c5c5c5;
      background-image: linear-gradient(#cbcbcb,#c5c5c5);
      box-shadow: inset 1px -1px 1px 0 rgba(255,255,255,0.4),inset 1px 1px 1px 0 rgba(0,0,0,0.2);
    }
  }
  
}