html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  padding-bottom: 60px;
  min-width: 980px;
  min-height: 100%;
}

.navbar {
  padding: 10px;
  height: 50px;
  background: #e4e4e4;

  .brand {
    color: #333;
    line-height: 30px;
  }
}
.app-wrap {
  padding-bottom: 60px;
  min-height: 100%;
}
.main {
  overflow: auto;
  padding: 10px;
}
.main-nav {
  float: left;
  margin-left: -100%;
  width: 180px;

  ul {
    padding: 0;
    background: #e4e4e4;
    li {
      list-style: none;
      a {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #f2f2f2;
        color: #333;

        &:hover,
        &:focus,
        &:active,
        &:visited {
          color: #333;
        }

        &.active {
          color: red;
        }
      }
    }
  }
}

.main-content {
  float: left;
  width: 100%;

  .main-content-wrap {
    margin-left: 190px;
    padding: 0 10px;

    h2 {
      margin-bottom: 20px;
    }
  }
}

.page-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  height: 50px;
  background: #e4e4e4;
}
