.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 1;
  
  th, td {
    padding: 3px 5px;
    text-align: left;
    border: 1px solid #dedede;
  }
  th {
    background: #666;
    color: #fff;
  }
}
