.bubble {
  border: 1px solid #CCC;
  position: relative;
  padding: 20px;
  top: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #CCC;
  background-color: #FFF;
}

.bubble-arrow-before {
  position: absolute;
  left: -100px;
  top: 20px;
  border-color: transparent;
  border-right-color: #FFF;
  border-width: 10px 100px 10px 0;
  border-style: solid;
  z-index: 999;
}

.bubble-arrow-after {
  position: absolute;
  left: -100px;
  top: 20px;
  border-color: transparent;
  border-right-color: #CCC;
  border-width: 11px 100px 10px 0;
  border-style: solid;
}

.title-span {
  font-size: 1.17em;
  font-family: 'Microsoft YaHei';
  font-weight: bold;
  padding-left: 4px;
  cursor: pointer;
}

.apMacListWrap {
  width: 200px;
  background-color: #CCC;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.apMacItem {
  display: inline-height;
  height: 28px;
  line-height: 28px;
  margin: 3px 0;
  cursor: move;
  font-size: 14px;
}

.apMacIcon {
  display: inline-height;
  height: 28px;
  line-height: 28px;
  margin: 3px 5px;
  cursor: pointer;
}

.paddingDiv {
  height: 30px;
  width: 200px;
  background-color: #CCC;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.peer-mac-notice {
  width: 250px;
  font-size: 14px;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
}
