@import "../../scss/variables";
@import "../../scss/mixins";

//
// Button
// --------------------------------------------------

.btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: $g-font-size;
  color: #666;
  text-decoration: none;
  background-color: #e8e8e8;
  background-image: linear-gradient(#e8e8e8,#e2e2e2);
  border: none;
  cursor: pointer;
  box-shadow: inset 1px 1px 0 0 rgba(255,255,255,.7),
    inset -1px -1px 0 0 rgba(255,255,255,.4), 1px 1px 1px 0 rgba(50,50,50,.1);

  &:active {
    @include opacity(.8);
  }

  .fa {
    margin-right: 6px;
  }
}

a.btn {
  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: $g-text-btn;
    text-decoration: none;
  }
}

.btn-sm {
  padding: 4px 9px;
}

.btn-lg {
  padding: 9px 18px;
  font-size: 14px;
}

.btn-block {
  display: block;
}

.btn-default {
  background-color: #e8e8e8;
  background-image: linear-gradient(#e8e8e8,#e2e2e2);
  border: none;
  box-shadow: inset 1px 1px 0 0 rgba(255,255,255,.7),inset -1px -1px 0 0 rgba(255,255,255,.4),1px 1px 1px 0 rgba(50,50,50,.1);
}

.btn-primary {
  color: #fff;
  background-color: $g-brand-primary;
  background-image: none;
  border: none;
  //box-shadow: none;
}

.btn-success {
  color: #fff;
  background-color: $g-brand-success;
  background-image: none;
  //border:1px solid $g-brand-success;
}

.btn-info {
  color: #fff;
  background-color: $g-brand-info;
  background-image: linear-gradient($g-brand-info, $g-brand-info - #060606);
}
.btn-warning {
  color: #fff;
  background-color: $g-brand-warning;
  background-image: linear-gradient($g-brand-warning, $g-brand-warning - #060606);
}

.btn-danger {
  color: #fff;
  background-color: $g-brand-danger;
  background-image: linear-gradient($g-brand-danger, $g-brand-danger - #060606);
}


.btn-group {
  display: inline-block;
  margin: 0 5px;
  .btn {
    padding: 4px 12px;
    font-size: 12px;
    text-shadow: 1px 1px 0 rgba(255,255,255,.4);
    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: #333;
    }
    &:last-child {
      border-right: none;
    }
    &.active {
      background-color: #c5c5c5;
      background-image: linear-gradient(#cbcbcb,#c5c5c5);
      box-shadow: inset 1px -1px 1px 0 rgba(255,255,255,.4),inset 1px 1px 1px 0 rgba(0,0,0,.2);
    }
  }
}
