$_height: 28px;

.Select {
  display: inline-block;
  min-width: 200px;
  max-width: 100%;
  font-size: 12px;
  vertical-align: middle;

  .Select-input,
  .Select-control {
    height: $_height;
  }

  .Select-placeholder {
    line-height: $_height;
    color: #999;
  }

  &.Select--single {
    .Select-value {
      line-height: $_height;
      color: #333;
    }
  }

  &.Select--multi {
    .Select-value {
      margin-top: 6px;
      line-height: 14px;
    }
    .Select-value-icon,
    .Select-value-label {
      line-height: 1.2em;
    }
  }
  .Select-aria-only {
    display: none;
  }

  &.is-focused {
    .Select-menu-outer,
    .Select-control {
      border-color: #0093dd;
    }
    .Select-menu-outer {
      line-height: 20px;
    }

    .Select-menu-outer {
      border-top-color: #ccc;
    }
  }
  &:focus {
    outline: none;
  }
}
