@import "../../scss/variables";
@import "../../scss/mixins";
$tab-nav-height:    28px;
//$g-main-color-light : #0093dd;

.tab-nav {
  position: absolute;
  left: $g-distance;
  right: $g-distance;
  z-index: 2;

  ul {
    border-bottom: 4px solid $g-main-color-light;
    padding-left: $g-distance;

    @include clearfix;
  }

  li {
    float: left;
    margin: 0 $g-distance-sm;

    a {
      display: block;
      padding: 0 $g-distance;
      padding-top: 1px;
      background-color: #fff;
      color: $g-main-color-light;
      position: relative;
      height: $tab-nav-height;
      line-height: $tab-nav-height;
      text-align: center;
      min-width: 80px;
      font-size: 13px;
      //transition: background .3s ease-in, color .1s ease-in;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        margin-left: -12px;
        height: 0;
        border-width: ($tab-nav-height / 2) 6px;
        border-color:transparent #fff #fff transparent;
        border-style: solid;
        filter: drop-shadow(-3px -2px 2px #ccc);
        //transition: border-color .3s ease-in;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        margin-right: -12px;
        height: 0;
        border-width: ($tab-nav-height / 2) 6px;
        border-color: transparent transparent #fff #fff;
        border-style: solid;
        filter: drop-shadow(3px -2px 2px #ccc);
        //transition: border .3s ease-in;
      }

      &:hover {
        background: #e5e5e5;
        z-index: 1;

        &:before {
          border-color:transparent #e5e5e5 #e5e5e5 transparent;
        }

        &:after {
          border-color: transparent transparent #e5e5e5 #e5e5e5;
        }
      }

      &.active {
        background: $g-main-color-light;
        color: #fff;
        z-index: 2;

        &:before {
          border-color:transparent $g-main-color-light $g-main-color-light transparent;
          filter: none;
        }

        &:after {
          border-color: transparent transparent $g-main-color-light $g-main-color-light;
          filter: none;
        }
      }
    }
  }
}
.tab-content {
  position: absolute;
  overflow-y: auto;
  top: 34px;
  left: 10px;
  right: 10px;
  bottom: 0;
  padding: 10px 40px;

  h3 {
    margin-bottom: 15px;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
  }
}
